
<template>
  <div>
    <simplert :useRadius="true" :useIcon="true" ref="simplert"/>
    <b-card
      title="Get more...  schemes, new beats files, sample music with moves."
      tag="article"
      class="mb-2">
      <b-alert :show="!listIsShown">Click below to see a list of schemes available (if you already have a scheme of the same name, download will OVERWRITE)</b-alert>
        <b-form-group>
          <b-form-radio-group v-if="availableSchemes" id="schemeList" v-model="selectedScheme" name="flavour-2">
            <div class="container-fluid">
            <b-row v-for="(scheme,index) in availableSchemes" :key="index" class="border-top">
              <b-col md="3" class="my-2">
                <b-form-radio :value="getEntryKeyBasename(scheme)">
                  <strong>{{getEntryKeyBasename(scheme)}}:</strong> 
                </b-form-radio>
              </b-col>
              <b-col md="5" class="my-2">{{getEntryObject(scheme).description}}
              </b-col>
              <b-col md="4" class="my-2">Provider: <b-button variant="primary" @click="opn(getEntryObject(scheme).providedBy.providedByURL)">{{getEntryObject(scheme).providedBy.provider}}</b-button>
              <hr>Other scheme info:<br>
              <b-button @click="opn(getEntryObject(scheme).infoUrls[0].url)">{{getEntryObject(scheme).infoUrls[0].desc}}</b-button>
              <b-button @click="opn(getEntryObject(scheme).infoUrls[1].url)">{{getEntryObject(scheme).infoUrls[1].desc}}</b-button></b-col>
              <hr>
            </b-row>
            </div>  
          </b-form-radio-group>
        </b-form-group>
        <b-button v-if="!listIsShown" href="#" variant="primary" @click="getSchemes('available')">List</b-button>
        <b-button v-else href="#" variant="primary" @click="downloadSelectedDlg">Install selected</b-button>
        <div>Status: {{downloadStatus}}</div>
    </b-card>
  </div>
</template>

<script>
import DiscDataHelper from '../store/shared/DiscDataHelper.js'
import fs from 'fs-extra'
import path from 'path'
import electron from 'electron'

const DOCDIR = electron.remote.app.getPath('documents')
const RMDIR = DOCDIR + '/RuedaMaticEditor'

const discDataHelper = new DiscDataHelper()

export default {
  data () {
    return {
      listIsShown: false,
      discDataHelper: null,
      selectedScheme: '',
      downloadStatus: '[download status will show here]',
      downloadCount: 0
    }
  },
  mounted: function () {
    console.log('mounted')
  },
  computed: {
    availableSchemes () {
      return this.$store.state.movesStore.availableSchemes
    },
    availableSchemesKeys () {
      return this.availableSchemes ? Object.keys(this.availableSchemes) : []
    }
  },
  watch: {
    availableSchemes (newVal) {
      if (this.availableSchemes.length > 0) {
        this.listIsShown = true
      }
    }
  },
  methods: {
    downloadSelectedDlg () {
      // see onClose, onConfirm for the dependent code!
      this.downloadCount = 0
      let itemExists = false
      if (fs.pathExistsSync(path.join(RMDIR, this.selectedScheme))) {
        itemExists = true
      }
      if (itemExists) {
        let obj = {
          title: 'These folders exist - replace?',
          message: 'You could lose custom changes in this folder: ' + this.selectedScheme + '.  Cancel if you want to save something first!',
          type: 'warning', // string -- type : info (default), success, warning, error
          customCloseBtnText: 'Continue', // string -- close button text
          onClose: this.downloadSelected, // function -- when close triggered
          useConfirmBtn: true, // boolean -- using confirm button
          customConfirmBtnText: 'Cancel' // string -- confirm button text
          // showXclose: false //boolean -- show x close button
        }
        this.$refs.simplert.openSimplert(obj)
      } else {
        this.downloadSelected()
      }
    },
    downloadSelected () {
      try {
        // leave the seq files
        fs.removeSync(path.join(RMDIR, this.selectedScheme, 'vueltas'))
        this.getScheme(this.selectedScheme + '.zip')
      } catch (e) {
        let obj = {
          title: 'Error installing',
          message: 'Install failed: ' + e.message,
          type: 'error', // string -- type : info (default), success, warning, error
          customCloseBtnText: 'OK', // string -- close button text
          useConfirmBtn: false // boolean -- using confirm button
          // showXclose: false //boolean -- show x close button
        }
        this.$refs.simplert.openSimplert(obj)
      }
    },
    getScheme (scheme) {
      this.$store.commit('SET_BUSY_NOTICE')
      this.downloadStatus = 'Starting download...'
      discDataHelper.getScheme(scheme, this.setRefreshSchemesFlag) // arg2: callback
    },
    setRefreshSchemesFlag () {
      // pass this to discDataHelper to call when done with update
      this.downloadCount += 1
      this.downloadStatus = 'Downloaded ' + this.downloadCount + ' schemes...'
      this.$store.commit('UPDATE_INSTALLED_SCHEMES_FLAG', true)
      this.$store.commit('UNSET_BUSY_NOTICE')
      this.selectedScheme = ''
    },
    getSchemes (which) {
      this.$store.dispatch('getSchemes', 'available')
    },
    getEntryKeyBasename (obj) {
      let key = Object.keys(obj)[0]
      return key.substring(0, key.length - 4)
    },
    getEntryObject (obj) {
      let key = Object.keys(obj)[0]
      return obj[key]
    },
    opn (event) {
      this.$electron.shell.openExternal(event)
    }
  }
}
</script>

<style scoped>
    .title {
        color: #8b0000;
        font-size: 18px;
        font-weight: initial;
        letter-spacing: .25px;
        margin-top: 10px;
    }

    .items {
        margin-top: 8px;
    }

    .item {
        display: flex;
        margin-bottom: 6px;
    }

    .item .name {
        color: #6a6a6a;
        margin-right: 6px;
    }

    .item .value {
        color: #35495e;
        font-weight: bold;
    }
</style>