<template>
  <div>
    <b-card
      title="Get the songs you need for your beats files."
      tag="article"
      class="mb-2">
        <div class="col-12">
          <p>This is a list of beats files you have, and the songs they require. </p>
          <p> NOTE: This is a complete list: you may already have some of these!</p>
        </div><br>
      <b-row v-for="(item,index) in songSource" :key="index" class="border-top">
        <b-col md="7" class="my-2">{{item.filename}}
        </b-col>
        <b-col md="4" class="my-2">
          <b-button @click="opn(item.URL)">Get correct music</b-button>
        </b-col>
      </b-row>
      <hr>
      <div v-if="badFormatFiles">Beats files found without proper URL for purchase: <br><strong>{{badFormatFiles}}</strong></div>
    </b-card>
  </div>  

</template>

<script>
import replace from 'replace-in-file'
import electron from 'electron'
import path from 'path'
const DOCDIR = electron.remote.app.getPath('documents')
const RMDIR = DOCDIR + '/RuedaMaticEditor'

export default {
  data () {
    return {
      songSource: [], // {filename: 'xx', URL: 'xx'}
      badFormatFiles: []
    }
  },
  created () {
    let that = this
    function lookin (args) {
      // arg 0: 'entire match'
      // arg 1: capture 1
      // arg 2: catpure 2
      // arg 3: entire input file?
      // arg 4: actual found filename
      that.songSource.push({filename: args[1], URL: args[2]})
    }
    this.songSource = [] // here we put all the beats files we have
    // replace-in-file used for READONLY here
    // results contains all beats files, callback files that have a buy song URL
    const results = replace.sync({
      files: RMDIR + '/compases_para_canciones/*.xml',
      from: /<musicfile.*">([^<]*)<\/musicfile>\s.*authorAndSongURL.*>(http[^<]*)<\/authorAndSongURL>/gi,
      to: (...args) => lookin(args),
      dry: true
    })
    let files = results.map(item => path.basename(item.file))
    // this.badFormatFiles = this.songSource.map(btsrc => btsrc.filename).filter(btfile => !files.includes(btfile))
    this.badFormatFiles = files.filter(file => !this.songSource.map(src => path.basename(src.filename, '.mp3')).includes(path.basename(file, '.xml')))
    console.log('XML beat files without proper URL: ' + files)
  },
  methods: {
    opn (event) {
      this.$electron.shell.openExternal(event)
    }
  }
}
</script>

<style scoped>

</style>