<template>
  <div id="wrapper">
    <!--<img id="logo" src="~@/assets/logo.png" alt="electron-vue">-->
    <table>
      <tr>
        <td height="120">
          <object
            height="100%"
            type="image/svg+xml"
            data="static/icon.svg">
          </object>
        </td>
        <td>
          <h1>RuedaMatic Editor</h1>
          <h6>... rueda, with the musicality baked in ...</h6>
        </td>
      </tr>
    </table>

    <main>
      <div>
        <div title="Click navbar 'User' to change!" class="title">Callers:</div>
        <b-card class="mb-2" bg-variant="dark" text-variant="white">
          <ul>
          <li><p class="card-text">PLAY the song, select moves to call</p></li>
          <li><p class="card-text">LISTEN as you add more calls</p></li>
          <li><p class="card-text">MATCH your calls to the song dynamics</p></li>
          <li><p class="card-text">SEND to your phone/tablet... play with Android RuedaMatic Player</p></li>
          </ul>
        </b-card>
        <div title="Click navbar 'User' to change!" class="title">Wizards:</div>
        <b-card class="mb-2" bg-variant="dark" text-variant="white">
          <p class="card-text">
            <ul>
            <li><p class="card-text">BUILD FOUNDATIONS for callers to use: schemes and beats</p></li>
            <li><p class="card-text">Schemes: specific moves used in a specific style</p></li>
            <li><p class="card-text">Beats files: for a song, can be reused in any scheme</p></li>
            Possible schemes: Beginner, Advanced, Salsa Suelta, Mixta, Torno, <br>Wheelchair, etc...
            </ul>
          </p>
        </b-card>

        <div class="doc">
          <b-button
            class="alt"
            @click="open('http://come2think.com/RuedaMatic/')">RuedaMatic web site
          </b-button>
        </div>
      </div>

      <div>
        <span class="title">
          Checkup:
        </span>
        <system-information/>
      </div>
    </main>
    <b-modal :title="RMEFolder" ref="configProblem" @ok="getScheme('scheme_rueda_normal_basica.zip')">
      <p class="my-4">The data folder "{{RMEFolder}}" and subfolders were not found.  </p>   
      <div v-if="schemesCount === 0">
        <p>NOW: We'll get the basic scheme for you... </p>
        <p>Click OK to continue... </p>
      </div>
      <div v-else>
         <p>Select an installed scheme in the dropdown list.</p>
      </div>
    </b-modal>
  </div>
</template>

<script>

import SystemInformation from './LandingPage/SystemInformation'
import DiscDataHelper from '../store/shared/DiscDataHelper.js'
import path from 'path'
import electron from 'electron'

const DOCDIR = electron.remote.app.getPath('documents')
const RMDIR = DOCDIR + '/RuedaMaticEditor'

const discDataHelper = new DiscDataHelper()

export default {
  data () {
    return {
      bShowConfigProblem: false
    }
  },
  name: 'LandingPage',
  components: { SystemInformation },
  created: function () {
    try {
      this.$store.commit('INIT_SETTINGS_DATA') // checks if needed
      this.bShowConfigProblem = true // default til tested
      if (this.RMEFolder) {
        if (discDataHelper.fileExists(path.join(RMDIR, this.RMEFolder, 'vueltas'))) {
          this.bShowConfigProblem = false
        }
      } else {
        discDataHelper.ensureSchemeFoldersExist(this.RMEFolder) // after rme folder is SET
        this.$store.commit('ORIGINAL_CALLS_FILES', this.RMEFolder) // s/b before MOVE_STATE for validation
        this.$store.commit('ORIGINAL_MOVE_STATE', this.RMEFolder)
      }
    } catch (error) {
      this.bShowConfigProblem = true // mounted hook will show
    }
  },
  mounted: function () {
    if (this.bShowConfigProblem) {
      this.$refs.configProblem.show()
    }
  },
  computed: {
    RMEFolder () {
      return this.$store.state.settingsStore.settings.RMEFolder
    },
    schemesCount () {
      let schemes = this.$store.state.movesStore.installedSchemes
      return schemes.length
    }
  },
  methods: {
    getScheme (scheme) {
      if (this.schemesCount === 0) {
        this.$store.commit('SET_BUSY_NOTICE')
        discDataHelper.getScheme(scheme, this.setRefreshSchemesFlag)
        discDataHelper.getScheme('RM_Sample.zip', this.setRefreshSchemesFlag)
      }
    },
    setRefreshSchemesFlag () {
      // pass this to discDataHelper to call when done with update
      this.$store.commit('UPDATE_INSTALLED_SCHEMES_FLAG', true)
    },
    findLinksHelper () {
      // this.$store.getters
      console.log('clicked findLinksHelper!')
    },
    open (link) {
      this.$electron.shell.openExternal(link)
    }
  }
}
</script>

<style scoped>
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */

* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: flex;
}

.title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc p {
  color: black;
  margin-bottom: 10px;
}

.doc button {
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}

.doc button.alt:hover {
  color: #42b983;
  background-color: transparent;
}
</style>
