<i18n src='./Moves/Moves.yaml'></i18n>
<!--
 to use:
   in html, text: {{ $t('length') }}
   in html, custom directive: v-t="'save_the_moves'"
   in javascript: label: this.$i18n.t('col_move_name'),
 to automate, these are in the Google Sheets add-ons shop:
   Add-on Easy Localization by www.modernalchemy.de (execute Google translate, leaving non-empty cells)
   Add-on Java Translations Tool by simon.niederberger (downloads zip of java properties files, to convert to yaml)
 this is on github:
     (this script) prop2yaml.js to convert zipped props to required i18n yaml files
 e.g.
    node ~/Development/IdeaProjects/command-line-js/prop2yaml.js ~/Downloads/Moves.zip src/renderer/components/Moves/
-->
<template>
  <div id="wrapper">
    <simplert :useRadius="true" :useIcon="true" ref="simplert"/>
    <div>
      <object width="10%" type="image/svg+xml" data="static/icon.svg">
      </object>
      <!-- <b-btn @click="getMovesLibrary" variant="info" class="m-1" v-t="'get_the_moves'"></b-btn> -->
      <b-btn v-t="'add_move'" v-if="!!editedMoves" variant="info" class="m-1" @click="addNewMove" />
      <span class="float-right">{{ RMEFolder }}: <em>by {{ schemeProvider}}, {{ schemeDate }} </em></span>
    </div>
    <br>

    <div class="justify-content-center row">
      <!--filters and pagination-->
      <b-form-fieldset horizontal label="Filter" class="col-6">
        <b-form-input v-model="filter" placeholder="Type to Search" />
      </b-form-fieldset>

      <b-form-fieldset horizontal label="Rows per page" class="col-6">
        <b-form-select :options="[{text:10,value:10},{text:20,value:20},{text:50,value:50}]" v-model="perPage" />
      </b-form-fieldset>
    </div>

    <b-table :items="editedMoves" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" striped hover small @row-clicked="rowClicked">
      <template slot="name" slot-scope="each">
        {{ each.item.$.name }}
      </template>
      <template slot="file" slot-scope="each">
        {{ each.item.$.file }}
      </template>
      <template slot="length" slot-scope="each">
        {{ each.item.$.length }}
      </template>
      <template slot="delay" slot-scope="each">
        {{ each.item.$.delaycount }}
      </template>
      <template slot="comment" slot-scope="each">
        {{ each.item.comment[0] }}
      </template>
      <template slot="actions" slot-scope="each" horizontal>
        <b-btn size="sm" @click="details(each.item)">Edit
        </b-btn>
        <b-btn size="sm" @click="showDeleteDlg(each.item)">Delete
        </b-btn>
      </template>
    </b-table>

    <div class="justify-content-center row my-1">
      <b-pagination :total-rows="editedMoves?editedMoves.length:0" :per-page="perPage" v-model="currentPage" size="md" />
    </div>

    <!--the modal: edit a move -->
    <!--v-if prevents error on startup-->
    <b-modal v-if="currentItem" ref="modalEdit" :ok-disabled="bOKDisabled()" :title="getEditDlgTitle()" 
                    close-title="Cancel" @ok="preSaveEditedMove" @hide="removeDlgAlerts()" @shown="$refs.moveName.focus()">
      <b-alert :show="showNameAlert" variant="danger" dismissible @dismissed="showNameAlert=false">
        Name must contain at least 3 characters.
      </b-alert>
      <b-alert :show="showOverwriteAlert" variant="danger" dismissible @dismissed="showOverwriteAlert=false">
        Name conflict with previous entry {{ currentItem.$.name }}. Please delete original in advance.
      </b-alert>
      <div id="waveform" title="Important: minimize opening silence.  Also, trim length, and check loudness." />
      <b-form-fieldset :variant="valnName() ? 'primary':'danger'" title="Move name; Mixed case - capitalize first letter, and main words" label="Move name (Mixed case, begin with Capital): ">
        <b-form-input ref="moveName" :variant="valnName() ? 'primary':'danger'" v-model="currentItem.$.name" type="text" />
      </b-form-fieldset>
      <b-form-fieldset ref="file" :variant="valnFile() ? 'primary':'danger'" title="Sound file (MP3) with actual call.  Should be found in the &quot;vueltas&quot; folder.  If button is red, change to a valid file.">
        <strong>{{ currentItem.$.file }}</strong>
        <b-button :variant="valnFile() ? 'primary':'danger'" @click="chooseFile(currentItem.$.file)">
          Choose call file
        </b-button>
        <b-button title="Create or edit a voice call file (then Export as MP3, in vueltas folder)" @click="editWithAudacity">
          Start Audacity
        </b-button>
      </b-form-fieldset>
      <b-form-fieldset ref="length" :variant="valnLength() ? 'primary':'danger'" title="No. of Bars in basic move.  If it continues until another call, do not add the extra time" horizontal label="Move length (in bars): ">
        <!-- stop decimal (190, 110) -->
        <b-form-input :variant="valnLength() ? 'primary':'danger'" v-model="currentItem.$.length" type="number" @keydown.native.190.prevent @keydown.native.110.prevent />
      </b-form-fieldset>
      <!-- stop decimal (190, 110) -->
      <b-form-fieldset ref="delaycount" :variant="valnDelayCount() ? 'primary':'danger'" title="Blank, unless the MP3 file should be played LATER than normal beat.  No. of beats delayed in the 8 count." horizontal label="Delay (8th's of bar): ">
        <b-form-input :variant="valnDelayCount() ? 'primary':'danger'" v-model="currentItem.$.delaycount" type="number" @keydown.native.190.prevent @keydown.native.110.prevent />
      </b-form-fieldset>
      <b-form-fieldset horizontal label="Comment: ">
        <b-form-textarea rows="3" v-model="currentItem.comment[0]" type="text" />
      </b-form-fieldset>
    </b-modal>
    <b-modal title="Sequence Files Problem!" ref="lengthWarning" okOnly>
      <p class="my-4">Downstream files use this move -- remove and fix sequence.  </p>
      <p>You will need to remove this move from the following sequence files, before changing the length.</p>   
      <ul>
        <li v-for="(item, index) in seqFilesAffected" :key="index">
          {{item}}  
        </li> 
      </ul>
    </b-modal>
    <b-modal title="Sequence Files Affected Warning!" ref="filesWarning" @ok="modifyFilesBeforeSave" >
      <p class="my-4">Downstream files are affected.  </p>
      <p>Do you want to change SEQ files as well?  Or cancel the name change?</p>   
      <p>IF YOU GO AHEAD: Be aware - SEQ files not on this PC can't be fixed.</p>   
      <ul>
        <li v-for="(item, index) in seqFilesAffected" :key="index">
          {{item}}  
        </li> 
      </ul>
    </b-modal>
    <b-modal title="Files Affected Warning!" ref="filesInfoNoDelete">
        <p class="my-4">You have sequence files using this move!  </p>
        <p>Wherever this move is used in the sequence, remove or change it.  Then you can delete it.</p>   
        <ul>
          <li v-for="(item, index) in seqFilesAffected" :key="index">
            {{item}}  
          </li> 
        </ul>
      </b-modal>
    <b-modal v-model="modalPickerShown" v-if="currentItem" ref="modalPicker" title="Pick a call file" @shown="$refs.filterInput.focus()">
      <b-container fluid>
        <b-row ref="filterRow">
          <b-col class="my-1" md="12" ref="filterCol">
            <b-form-group class="my-0" ref="filterGrp">
              <b-input-group>
                <!-- :style="{ width: 'refs.fillterRow.width'-50 }"  -->
                <b-form-input v-model="callFilter" ref="filterInput" style="{ width: 300 }" placeholder="Type to Search" />
                <b-input-group-append>
                  <b-btn :disabled="!callFilter" @click="callFilter = null">Clear</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
         <!-- :fields="moveFields" -->
        <b-table ref="callsTable" striped small hover :items="calls" :filter="callFilter" @row-clicked="onCallClicked">
        </b-table>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
//  import SystemInformation from './LandingPage/SystemInformation'
// './... ' should be ok on windows

import DiscDataHelper from '../store/shared/DiscDataHelper.js'
import WaveSurfer from 'wavesurfer.js'
import fs from 'fs'
import path from 'path'
import _cloneDeep from 'lodash/cloneDeep'
import opn from 'opn'
import electron from 'electron'
import Differ from 'deep-diff'
import replace from 'replace-in-file'

// Pretty-printing is implemented natively in JSON.stringify(). The third argument enables pretty printing and sets the spacing to use:
// var str = JSON.stringify(obj, null, 2); // spacing level = 2

const discDataHelper = new DiscDataHelper()
const DOCDIR = electron.remote.app.getPath('documents')
const RMDIR = DOCDIR + '/RuedaMaticEditor'
// const PLATFORM = os.platform()
var WAVESURFER // v2, new syntax
let waveSurferInitDone = false

export default {
  name: 'Moves',
  data () {
    return {
      modalPickerShown: false,
      showNameAlert: false,
      showOverwriteAlert: false,
      showDeleteAlert: false,
      detailClicked: false,
      currentItem: null,
      currentItemBeforeEdit: null,
      // FIXME: either remove or use this for dirty checking
      currentItemLastOK: null, // as of the last time user pushed OK in item dialog
      // variables for the b-table
      currentPage: 1,
      perPage: 10,
      filter: null,
      callFilter: null,
      locale: this.$i18n.locale, // used by i18n for initial display, but see watch on locale for changes
      // editedMoves: _cloneDeep(this.$store.state.movesStore.editedMoves)
      seqFilesAffected: [], // by changing a move name, downstream seq files need changing
      seqFilesOldMoveName: '', // by changing a move name, downstream seq files need changing
      seqFilesNewMoveName: '', // by changing a move name, downstream seq files need changing
      seqFilesReplaceOptions: {} // by changing a move name, downstream seq files need changing
    }
  },
  computed: {
    calls () {
      return this.$store.state.movesStore.originalCalls.map(item => {
        return {name: item}
      })
    },
    schemeProvider () {
      return this.$store.state.movesStore.schemeProvider || '[no id]'
    },
    schemeDate () {
      return this.$store.state.movesStore.schemeDate || '[no date]'
    },
    RMEFolder () {
      return this.$store.state.settingsStore.settings.RMEFolder
    },
    CALLFOLDER () { return path.join(RMDIR, this.RMEFolder, 'vueltas') },
    SEQSPEC () { return path.join(RMDIR, this.RMEFolder, 'secuencias_para_canciones', '*.seq') },
    editedMoves: {
      get () {
        return this.$store.state.movesStore.editedMoves
      }
    },
    // fields for the b-table
    fields: {
      get () {
        return {
          name: {
            label: this.$i18n.t('col_move_name'),
            sortable: true
          },
          file: {
            label: this.$i18n.t('col_file')
          },
          length: {
            label: this.$i18n.t('col_length')
          },
          delay: {
            label: this.$i18n.t('col_delay')
          },
          comment: {
            label: this.$i18n.t('col_comment')
          },
          actions: {
            label: this.$i18n.t('col_actions')
          }
        }
      }
    }
  },
  watch: {
    locale (val) {
      this.$i18n.locale = val // this changes it for current view of current component
      this.$root.$i18n.locale = val // this changes it for all components
    },
    RMEFolder (newVal) {
      // we're going to clear out all the data, s/b reactive on the Songs tab
      this.filter = ''
      // FIXME: these are the concern of Songs comp not Moves comp
      // this.$store.commit('LOAD_BEATS', [])
      // this.$store.commit('LOAD_SEQ', [])
      // this.$store.commit('SET_MP3NAME_AND_DEPS', {MP3FileName: ''})
    }
  },
  created: function () {
  },
  activated: function () {
    // hate to get that dragging image when all you want is to click
    var links = document.getElementsByClassName('page-link')
    // this hyperefficient version (from stack overflow) is TOO ARCANE!
    // for (var i = links.length; i--; links[i]['draggable'] = false) {}
    // ... so this is better
    for (var i = links.length - 1; i >= 0; i--) {
      links[i]['draggable'] = false
    }

    document.addEventListener('keydown', this.keyDownHandler)
    // see https://laracasts.com/discuss/channels/vue/how-to-add-atkeyup-globally-with-vue?page=1 -->
    console.log('mounted')
  },
  deactivated: function () {
    console.log('deactivated')
    document.removeEventListener('keydown', this.keyDownHandler)
  },
  beforeRouteLeave (to, from, next) {
    this.filter = ''
    next() // you gotta manually call next if you use this hook
  },
  methods: {
    onCallClicked (item, index) {
      console.log('selected call: ' + item.name)
      this.currentItem.$.file = item.name // was path.posix
      this.surfCurrent()
      this.$refs.modalPicker.hide()
      console.log(item)
      this.callFilter = ''
    },
    rowClicked (item, index) {
      this.currentItem = _cloneDeep(item) // prob. redundant so far
      console.log('row-clicked' + '-' + item + '-' + index)
    },
    keyDownHandler (event) {
      let kcDown = 40
      let kcEnter = 13
      if (this.modalPickerShown) {
        if (event.keyCode === kcDown) { // space key
          try {
            this.$refs.callsTable.$el.rows[1].focus()
          } catch (e) {
            console.log('can\'t focus first row, doesn\'t exist?')
          }
        } else if (event.keyCode === kcEnter) { // space key
          try {
            this.$refs.callsTable.$el.rows[1].focus()
          } catch (e) {
            console.log('can\'t focus first row, doesn\'t exist?')
          }
        }
      } else {
        // event.preventDefault() // mainly if a button has focus, stops "space" "enter" from clicking it
      }
      this.$refs.simplert.justCloseSimplert()
    },
    bOKDisabled () {
      // iterate over visible fields, see if any are invalid
      if (this.$refs.modalEdit) {
        let retVal = !(this.valnName() && this.valnFile() && this.valnLength() && this.valnDelayCount())
        console.log('OK disabled? ' + retVal)
        return retVal
      } else {
        console.log('OK disabled? true (fallthru)')
        return true
      }
    },
    // BEGIN VALIDATION
    valnKeepIntegralHelper (value) {
      return !isNaN(value) &&
        parseInt(Number(value)).toString() === value &&
        !isNaN(parseInt(value, 10))
    },
    valnName () {
      if (this.currentItem) {
        let firstLetter = this.currentItem.$.name.charAt(0)
        if (firstLetter) {
          if (firstLetter !== firstLetter.toUpperCase()) {
            return false
          }
        }
        return this.currentItem.$.name.length > 2
      } else {
        return false
      }
    },
    valnFile () {
      return (this.currentItem.$.file.length > 0 &&
        this.$store.getters.isCallFile(this.currentItem.$.file))
    },
    valnLength () {
      return (this.currentItem.$.length > 0 && this.valnKeepIntegralHelper(this.currentItem.$.length))
    },
    valnDelayCount () {
      return (this.currentItem.$.delaycount >= 0 && this.valnKeepIntegralHelper(this.currentItem.$.delaycount)) ||
        !this.currentItem.$.delaycount
    },
    // END VALIDATION
    removeDlgAlerts () {
      // alerts that are displayed in the move edit dialog
      this.showNameAlert = false
      this.showOverwriteAlert = false
    },
    getEditDlgTitle () {
      return this.currentItemBeforeEdit ? 'Edit move' : 'Add move'
    },
    editWithAudacity () {
      try {
        opn(path.join(this.CALLFOLDER, this.currentItem.$.file), { app: 'audacity' })
      } catch (e) {
        // ?retry here, using the normal installation path?
        console.log('Audacity launch failed, is it installed, and on the path?')
      }
    },
    preSaveEditedMove (e) {
      // i.e. OK click
      // first, if the edit is ok, where will we insert it?
      // FIXME check if any change was made -- used?
      if (this.currentItemLastOK) {
        if (Differ.diff(this.currentItemLastOK, this.currentItem)) {
          console.log('yep, it\'s been modified')
        }
      }
      // ok here we update currentItemLastOK for the next time needed
      this.currentItemLastOK = _cloneDeep(this.currentItem)
      // FINAL VALIDATION - needed?
      if (this.bOKDisabled()) {
        console.log('clicked OK, problem: OK s/b disabled')
        return e.cancel()
      }

      // FURTHER ACTION:
      // If there has been a change, do our best to retroactively fix
      // SEQ files out there, at least on our own machine

      // VALID'N: TRUE, or we don't save
      let bNameNoConflict = false

      // NOW find the value of the flag
      // bNameNoConflict value:
      let nInsertAt = discDataHelper.binarySearch(this.editedMoves, this.currentItem)
      if (this.currentItemBeforeEdit) { // editing existing move
        // name unchanged OR changed but unused so far
        bNameNoConflict = ((this.currentItemBeforeEdit.$.name === this.currentItem.$.name) && (nInsertAt >= 0)) ||
          ((this.currentItemBeforeEdit.$.name !== this.currentItem.$.name) && (nInsertAt < 0))
      } else {
        // if it's ADD, shows the same name didn't exist before
        bNameNoConflict = (nInsertAt < 0)
      }

      // NOW find the value of the flag
      // BAIL if flag false with warning

      // if the new name already exists:
      if (!bNameNoConflict) {
        // raise the dialog, defer the mutation until response
        this.showOverwriteAlert = true
        return e.cancel() // *** BAIL
      }
      if (this.currentItemBeforeEdit) {
      // check for effects of deleting or changing a name
        this.seqFilesOldMoveName = 'name="' + this.currentItemBeforeEdit.$.name + '"'
        this.seqFilesNewMoveName = 'name="' + this.currentItem.$.name.trim() + '"' // also done later while saving
        this.seqFilesReplaceOptions = {
          files: this.SEQSPEC,
          from: new RegExp(this.seqFilesOldMoveName, 'g'),
          to: this.seqFilesNewMoveName
        }
        let results = replace.sync(Object.assign(_cloneDeep(this.seqFilesReplaceOptions), {dry: true})) // READONLY just a dry run!
        this.seqFilesAffected = results.filter(item => item.hasChanged).map(item => path.basename(item.file))
        if (this.seqFilesAffected.length) {
          this.$refs.filesWarning.show()
          return // BAIL pending dialog answer, THEN maybe modifyFilesBeforeSave()
        }
        // if they change move length: PREVENT with warning
        //  if there are SEQ files that use it
        //  User warned to remove the move from those files first
        if (this.currentItem.$.length !== this.currentItemBeforeEdit.$.length) {
          this.seqFilesReplaceOptions = {
            files: this.SEQSPEC,
            from: new RegExp(this.seqFilesOldMoveName, 'g'),
            to: 'xxxxx' // DRY RUN - we just need a list of files with move
          }
          let results2 = replace.sync(Object.assign(_cloneDeep(this.seqFilesReplaceOptions), {dry: true})) // READONLY just a dry run!
          this.seqFilesAffected = results2.filter(item => item.hasChanged).map(item => path.basename(item.file))
          if (this.seqFilesAffected.length) {
            this.$refs.lengthWarning.show()
            return // BAIL - user must fix
          }
        }
        console.log(results)
      }
      this.saveEditedMove()
    },
    modifyFilesBeforeSave () {
      replace.sync(this.seqFilesReplaceOptions)
      this.saveEditedMove()
      this.$store.commit('SET_RELOAD_CURRENT_SONG')
    },
    saveEditedMove () {
      // if we pass preSaveEditMove, we get here.
      // remove under old name, insert under new
      let nInsertAt = 0
      if (this.currentItemBeforeEdit) { // editing existing move
        let nPosBeforeEdit = discDataHelper.binarySearch(this.editedMoves, this.currentItemBeforeEdit)
        this.$store.commit('DELETE_MOVE', nPosBeforeEdit)
        // recalculate insert At, since the previous delete could have changed it
      }
      nInsertAt = discDataHelper.binarySearch(this.editedMoves, this.currentItem)
      if (this.currentItem.$.file && this.$store.getters.isCallFile(this.currentItem.$.file)) {
        // if not true, this shows red bg on Choose File button, i.e. invalid file
        delete this.currentItem._cellVariants // no effect if missing property}
      }
      // ***  ONLY SAVED TO CACHE HERE!
      // so far, we could have an undefined comment, which could be a problem later
      if (!this.currentItem.comment[0]) this.currentItem.comment[0] = ''
      this.$store.commit('BUFFER_MOVE_EDIT', { move: this.currentItem, pos: nInsertAt })
      let authorId = this.$store.state.settingsStore.settings.authorId
      let payload = {
        date: new Date().toISOString(),
        folder: this.RMEFolder,
        authorId: authorId,
        schemeProvider: authorId, // because I am saving, I am the new author!
        schemeDate: new Date().toISOString(),
        schemeName: this.RMEFolder}
      this.$store.commit('SAVE_ALL_MOVES', payload)
      this.$store.commit('ORIGINAL_CALLS_FILES', this.RMEFolder)

      this.currentItemLastOK = null // clean for next editing session
    },
    addNewMove () {
      this.currentItem = {
        $: {
          name: '',
          file: '',
          length: '',
          lengthfraction: '',
          delaycount: ''
        },
        comment: []
      }
      this.currentItemBeforeEdit = null
      this.$nextTick(function () {
        this.$refs.modalEdit.show()
        this.surfCurrent()
      })
    },
    chooseFile (rFile) {
      console.log('file arg: ' + rFile)
      this.$refs.modalPicker.show()
    },
    surfCurrent () {
      if (waveSurferInitDone) {
        // clear out old waveforms, else each diff file selected accumulates a wave form
        try {
          WAVESURFER.destroy()
        } catch (e) {
          // if it doesn't exist first time round
        }
      }
      WAVESURFER = WaveSurfer.create({
        container: '#waveform'
      })
      // WAVESURFER.init() // v2 update, not needed
      waveSurferInitDone = true
      // is there a call file name, if so: does it exist in vueltas?
      if (this.currentItem.$.file && this.$store.getters.isCallFile(this.currentItem.$.file)) {
        let filepath = path.join(this.CALLFOLDER, this.currentItem.$.file)
        fs.readFile(filepath, function (err, data) {
          if (data && !err) {
            console.log('read file, got data and no error: ' + filepath)
          }
          let fileData = new window.Blob([data])
          WAVESURFER.loadBlob(fileData)

          WAVESURFER.on('loading', function (e) {
            console.log('loading', e)
          })

          WAVESURFER.on('error', function (err) {
            console.log(err)
          })

          WAVESURFER.on('ready', function () {
            WAVESURFER.play()
          })
        })
      }
    },
    showDeleteDlg (item) {
      this.seqFilesOldMoveName = 'name="' + item.$.name + '"'
      this.seqFilesNewMoveName = 'xx' // it's a dry one, we don't use the "new name"
      this.seqFilesReplaceOptions = {
        files: this.SEQSPEC,
        from: new RegExp(this.seqFilesOldMoveName, 'g'),
        to: this.seqFilesNewMoveName,
        dry: true
      }
      let results = replace.sync(this.seqFilesReplaceOptions) // READONLY just a dry run!
      this.seqFilesAffected = results.filter(item => item.hasChanged).map(item => path.basename(item.file))
      if (this.seqFilesAffected.length) {
        this.$refs.filesInfoNoDelete.show()
        return
      }

      this.currentItem = _cloneDeep(item)
      this.$nextTick(function () {
        let obj = {
          title: this.$i18n.t('dlg_title_ipl_delete', [this.currentItem.$.name]),
          message: this.$i18n.t('dlg_text_delete'), // string -- message alert
          type: 'warning', // string -- type : info (default), success, warning, error
          customCloseBtnText: 'Delete', // string -- close button text
          onClose: () => { this.deleteItem(this.currentItem) }, // function -- when close triggered
          useConfirmBtn: true, // boolean -- using confirm button
          customConfirmBtnText: 'Cancel' // string -- confirm button text
          // showXclose: false //boolean -- show x close button
        }
        this.$refs.simplert.openSimplert(obj)
        // this.$refs.modalDelete.show()
      })
    },
    deleteItem () {
      // doesn't work named "delete", must be reserved word clash?
      let nDeleteAt = discDataHelper.binarySearch(this.editedMoves, this.currentItem)
      this.$store.commit('DELETE_MOVE', nDeleteAt)
      let authorId = this.$store.state.settingsStore.settings.authorId
      let schemeDate = this.$store.state.movesStore.schemeDate
      let schemeProvider = this.$store.state.movesStore.schemeProvider
      let schemeName = this.$store.state.movesStore.schemeName
      let asWhat = {folder: this.RMEFolder,
        date: new Date().toISOString(),
        authorId: authorId,
        schemeName: schemeName,
        schemeProvider: schemeProvider,
        schemeDate: schemeDate
      }
      this.$store.commit('SAVE_ALL_MOVES', asWhat)
    },
    details (item) {
      this.currentItem = _cloneDeep(item)
      this.currentItemBeforeEdit = item // overwrite will save it, but just to the working buffer
      this.detailClicked = true
      this.$nextTick(function () {
        this.$refs.modalEdit.show()
        this.surfCurrent()
      })
    }
  }
}
</script>

<style scoped>
.table th,
.table td {
  padding: 0rem;
}
</style>
