 <template>

  <!-- style="width: 100vw; height: 90vh; -->
  <div>
    <simplert :useRadius="true" :useIcon="true" ref="simplert"/>
     <!-- style="width: 95vw; height: 60vh" -->
    <div>
      <div>
        <b-container>
          <b-row style="height:45px;margin:0px 0px 20px 00px;">
            <b-col md="3">
                <b-button ref="btnPlayback" :disabled="!waveIsLoaded" variant="info" class="m-2" @click="playSong">
                  Play
                </b-button>
                <b-button ref="btnPlayStop" :disabled="!waveIsLoaded" variant="info" class="m-2" @click="stopPlay">
                  Stop
                </b-button>
            </b-col>
            <b-col md="2">
                <b-form-input title="Relative volume for music" id="musicVol" size="sm" v-model="musicVol" type="range" min="0" max="1" step="0.025"></b-form-input>
            </b-col>
            <b-col md="3">
                <b-button :variant="valnFile() ? 'primary':'danger'" @click="chooseFile"
                  title="Choose which music to load">
                  Load Song
                </b-button>
                <b-button ref="btnURL" variant="info" class="m-2" @click="showBuyURL" :disabled="!waveIsLoaded" 
                  title="Where can I buy this particular recording?  
(The song needs to match the beats of the original.)">
                  Buy
                </b-button>
            </b-col>
            <b-col md="2">
              <b-form-checkbox v-model="scrollMe">Scroll</b-form-checkbox>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div id="waveform" v-bind:style="{ height: '64px', background: wsbgColor }" title="Amplitude wave form of the song">
        <pulse-loader v-if="bLoading" :color="nColor" style="height: 64px;display: flex;align-items: center;justify-content: center" />
      </div>
      <div>
        <b-button title="File location of sequence file (to email, etc)" ref="btnOpenFileExplorer" :disabled="!waveIsLoaded" variant="info" class="m-2" @click="openFileExplorer">
          .seq
        </b-button>
        File: {{ MP3FileName }}, <em> length: {{ timeTotalCached }} </em>
      </div>
      <div>
      </div>
    </div>
    <b-card no-body :style="{ height: (cardHeight - ( this.$store.state.settingsStore.settings.userType === '2' ? 55 : 100)) + 'px' }">
        <!-- playsong event can come up by using the countdown timer on subcomponent -->
      <songs-measures ref="songsMeasures" :card-height=cardHeight 
        :wave-surfer=WAVESURFER
        :wave-is-loaded=waveIsLoaded
        :state-recording-beats=stateRecordingBeats
        :awaiting-beats-save=awaitingBeatsSave
        :showing-buy-dialog=showingBuyDialog
        :scroll-me=scrollMe
        @add-seq-move="addSeqMove"
        @playSong="playSong"
        @changeMode="changeMode"
        @meanCalculated="meanCalculatedByMeasures"
        >
      </songs-measures>
    </b-card>
    <b-modal ref="modalBadFile" :title="badFileModalTitle" ok-only>
      <h6 v-html="badFileModalText">
      </h6>
    </b-modal>
    <b-modal ref="getBuyURL" title="Where can the user buy this EXACT music file?" @ok="saveBuyURL" @hidden="showingBuyDialog=false">
      <b-form-fieldset title="Wizard version: Users will be sent to URL for online store where you bought the music file" horizontal label="Insert 'Buy Song' URL here: ">
        <b-form-input v-model="buySongURLInput" />
      </b-form-fieldset>
    </b-modal>
</div>
</template>

<script>
// region - doesn't work yet in vetur Apr 2018
/* eslint-disable no-unused-vars */
import songsMeasures from './Songs/Measures.vue'
import WaveSurfer from 'wavesurfer.js'
import fs from 'fs'
import electron from 'electron'
import DiscDataHelper from '../store/shared/DiscDataHelper.js'
import _sum from 'lodash/sum'
import _mean from 'lodash/mean'
import _range from 'lodash/range'
import _cloneDeep from 'lodash/cloneDeep'
import {Howl, Howler} from 'howler'
import scrollIntoView from 'smooth-scroll-into-view-if-needed'
import {exec} from 'child_process'
import path from 'path'

const HOMEDIR = electron.remote.app.getPath('home')
const DOCDIR = electron.remote.app.getPath('documents')
const RMDIR = DOCDIR + '/RuedaMaticEditor'
const MUSICFOLDER = path.join(HOMEDIR, 'Music')
let BEATSFOLDER = '' // set in mounted
let CALLFOLDER = '' // set in mounted
let WAVESURFER
// endregion

export default {
  data () {
    return {
      scrollMe: false, // should the times boxes autoscroll while playing?
      showingBuyDialog: false, // so Measures subcomponent doesn't preventDefault
      mode: null, // based on event from subcomp
      measuresComponentKey: 0,
      windowHeight: 0,
      cardHeight: 0,
      bLoading: false,
      nColor: 'red',
      WAVESURFER: undefined, // so we have it as attribute of Vue instance
      wsbgColor: 'background-color: antiquewhite', // wavesurfer background, color change on each beat with playback
      waveIsLoaded: false,
      timeTotal: 'not loaded',
      currentFile: 'no file',
      discDataHelper: new DiscDataHelper(),
      anlsResult: 'analyzing first 8 beats on the fly...',
      stateRecordingBeats: false,
      awaitingBeatsSave: false, // between 'space' as "beats recording" and as "play stop-start", ignore space bar
      dictCurrMoves: {},
      timeoutsRunning: [], // for clearTimeout
      badFileModalText: '',
      badFileModalTitle: '',
      musicVol: 1,
      buySongURLInput: '',
      meanGapImproved: 0 // emitted by Measure subcomponent
    }
  },
  computed: {
    bReloadCurrentSong () {
      return this.$store.state.beatsAndSequenceStore.bReloadCurrentSong
    },
    RMEFolder () {
      return this.$store.state.settingsStore.settings.RMEFolder
    },
    userType () {
      return this.$store.state.settingsStore.settings.userType
    },
    lstSeq () {
      return this.$store.state.beatsAndSequenceStore.editedSeq
    },
    timeTotalCached () {
      // FIXME: why is this needed?
      return this.timeTotal
    },
    MP3FileName () {
      return this.$store.state.beatsAndSequenceStore.MP3FileName
    },
    MP3FileNameMd5GivenXML () {
      return this.$store.state.beatsAndSequenceStore.MP3FileNameMd5GivenXML
    },
    MP3FileNameMd5GivenSEQ () {
      return this.$store.state.beatsAndSequenceStore.MP3FileNameMd5GivenSEQ
    },
    MP3FileNameMd5Actual () {
      return this.$store.state.beatsAndSequenceStore.MP3FileNameMd5Actual
    },
    MP3URL () {
      return this.$store.state.beatsAndSequenceStore.MP3URL
    },
    lstTimesWork () { // this is the working copy of the beats
      return this.$store.state.beatsAndSequenceStore.lstTimesWork
    }
  },
  watch: {
    bReloadCurrentSong (newValue) {
      if (newValue === true) {
        this.loadMusicFile()
        this.$store.commit('UNSET_RELOAD_CURRENT_SONG')
      }
    },
    userType (newType, oldType) {
      this.getWindowHeight()
    },
    RMEFolder (newVal) {
      // we're going to clear out all the data, s/b reactive on the Songs tab
      this.$store.commit('LOAD_BEATS', [])
      this.$store.commit('LOAD_SEQ', [])
      this.$store.commit('SET_MP3NAME_AND_DEPS', {MP3FileName: ''}) // CLEARS all dependencies
      if (WAVESURFER) {
        WAVESURFER.destroy()
      }
      this.waveIsLoaded = false
      BEATSFOLDER = path.join(RMDIR, 'compases_para_canciones')
      CALLFOLDER = path.join(RMDIR, this.RMEFolder, 'vueltas')
    },
    MP3FileName (newVal) {
      if (!newVal) {
        this.timeTotal = 0
        try {
          WAVESURFER.empty()
        } catch (e) {
          console.log('invalid empty op on WAVESURFER')
        }
      }
      // here we can load the new song's purchase URL
      // we have a v-model dialog that can update this
    },
    MP3FileNameMd5Actual (newVal) {
      // filename and related values are cleared just before we load a new file.  Ignore the clearing of values.
      if (this.MP3FileName !== '' && newVal !== '') {
        if (newVal === this.MP3FileNameMd5GivenXML && newVal === this.MP3FileNameMd5GivenSEQ) {
          console.log(`Music MD5 checksum AGREES: ${newVal}`)
        } else if (newVal !== this.MP3FileNameMd5GivenXML && this.lstTimesWork.length > 0) {
          // last clause: if we didn't load a beats file, don't compare Md5
          this.badFileModalTitle = 'Wrong music file for beats!'
          this.badFileModalText = 'Beats file was BUILT WITH a DIFFERENT MUSIC FILE.  ' + '<br><br>You should use the correct music file, or else the timing will be wrong.' +
          '<br><br>(given md5 value of music file: ' + this.MP3FileNameMd5GivenXML + ')' +
          '<br>(actual md5 value of music file: ' + newVal + ')'
          this.$refs.modalBadFile.show()
          console.log(`Music MD5 checksum PROBLEM - file vs fresh calc: ${this.MP3FileNameMd5GivenXML} || ${newVal}`)
        } else if (newVal !== this.MP3FileNameMd5GivenSEQ && this.lstSeq.length > 0) {
          // last clause: if we didn't load a seq file, don't compare Md5
          this.badFileModalTitle = 'Wrong music file for sequence!'
          this.badFileModalText = 'Sequence file was BUILT WITH a DIFFERENT MUSIC FILE.  ' + '<br><br>You should use the correct music file, or else the sequence will likely be bad.' +
          '<br><br>(given md5 value of music file: ' + this.MP3FileNameMd5GivenSEQ + ')' +
          '<br>(actual md5 value of music file: ' + newVal + ')'
          this.$refs.modalBadFile.show()
          console.log(`Music MD5 checksum PROBLEM - file vs fresh calc: ${this.MP3FileNameMd5GivenSEQ} || ${newVal}`)
        }
      }
    },
    MP3URL (newVal) {
      this.buySongURLInput = newVal
    }
  },
  components: { songsMeasures },
  mounted: function () {
    // mv to Measures comp: document.addEventListener('keydown', this.keyDownHandler)
    // see https://laracasts.com/discuss/channels/vue/how-to-add-atkeyup-globally-with-vue?page=1 -->
    console.log('MOUNTED Songs')
    BEATSFOLDER = path.join(RMDIR, 'compases_para_canciones')
    CALLFOLDER = path.join(RMDIR, this.RMEFolder, 'vueltas')
    this.$nextTick(function () {
      // make tabs non-draggable.
      // nextTick: because bootstrap-vue dynamically adds Measures/Sequence tabs AFTER mounted
      // annoying feature of bootstrap tabs: draggable image is distracting
      var cardtabs = document.getElementsByClassName('nav-link')
      // this hyperefficient version (from stack overflow) is TOO ARCANE!
      // for (var i = cardtabs.length; i--; cardtabs[i]['draggable'] = false) {}
      // ... so this is better
      for (var i = cardtabs.length - 1; i >= 0; i--) {
        cardtabs[i]['draggable'] = false
      }

      window.addEventListener('resize', this.getWindowHeight)

      // Init
      this.getWindowHeight()
    })
  },
  updated: function () {
    this.getWindowHeight()
    console.log('UPDATED Songs')
  },
  deactivated: function () {
    console.log('Deactivated Songs')
    window.removeEventListener('resize', this.getWindowHeight)
  },
  methods: {
    // https://jijnasu.in/electron-open-file-explorer-with-file-selected/
    openFileExplorer () {
      let seqFilePath = path.join(RMDIR, this.RMEFolder, 'secuencias_para_canciones', path.basename(this.currentFile,
        path.extname(this.currentFile)) + '.seq')
      if (!this.discDataHelper.fileExists(seqFilePath)) {
        this.$bvModal.msgBoxOk('We\'d love to show you where that file is.  However... no SEQ file exists yet!  Enter some calls here to start the file.')
        return // ** BAIL here
      }
      let command = ''
      switch (process.platform) {
        case 'darwin':
          command = 'open -R ' + seqFilePath
          break
        case 'win32':
          if (process.env.SystemRoot) {
            command = path.join(process.env.SystemRoot, 'explorer.exe')
          } else {
            command = 'explorer.exe'
          }
          command += ' /select,' + seqFilePath
          break
        default:
          let fpath = path.dirname(seqFilePath)
          command = 'xdg-open ' + fpath
      }
      console.log(command)
      exec(command, function (stdout) {
        // Do something if you really need to
      })
    },
    meanCalculatedByMeasures (newValue) {
      this.meanGapImproved = newValue
    },
    changeMode (mode) {
      this.mode = mode
    },
    showBuyURL () {
      if (this.MP3URL && this.MP3URL.substring(0, 4).toLowerCase() === 'http' && this.userType === '1') {
        // wizard user type, clicking always edits the url
        this.$electron.shell.openExternal(this.MP3URL)
      } else {
        this.$refs.getBuyURL.show()
        this.showingBuyDialog = true
      }
    },
    saveBuyURL () {
      // save the field buySongURLInput
      this.$store.commit('SET_MP3NAME_AND_DEPS', {MP3FileName: this.MP3FileName, MP3URL: this.buySongURLInput})
      // persist the new revised beats XML
      this.persistRevisedBeats()
    },
    persistRevisedBeats () {
      this.awaitingBeatsSave = false // so subcomponent knows we have exited recording after "save option" dialog closed
      let authorId = this.$store.state.settingsStore.settings.authorId
      let payload = {
        type: 'beats',
        filename: this.MP3FileName,
        MP3URL: this.MP3URL,
        md5: this.MP3FileNameMd5Actual,
        lstTimes: this.lstTimesWork,
        date: new Date().toISOString(),
        RMEfolder: this.RMEFolder,
        authorId: authorId
      }
      this.$store.commit('SAVE_BEATS', payload)
    },
    // ?? Measures component has put this in the Vuex SEQ...
    // ??  we only need to put it in our move dictionary, where the howl component can PLAY it
    getWindowHeight (event) {
      console.log('running getWindowHeight, windowHeight: ' + document.documentElement.clientHeight)
      this.windowHeight = document.documentElement.clientHeight
      // this.cardHeight = ((this.windowHeight - this.$refs.songsSequence.$el.getBoundingClientRect().top)) + 40
      if (this.$store.state.settingsStore.settings.userType === '1') {
        this.cardHeight = ((this.windowHeight - this.$refs.songsMeasures.$el.getBoundingClientRect().top)) + 90
      } else {
        this.cardHeight = ((this.windowHeight - this.$refs.songsMeasures.$el.getBoundingClientRect().top)) + 45
      }
    },
    addSeqMove (moveName, b) {
      console.log('added a sequence move')
      if (!this.dictCurrMoves[moveName]) {
        // getMoveByNameObj returns a deep clone of the move
        let move = this.$store.getters.getMoveByNameObj({$: {name: moveName}})
        this.dictCurrMoves[moveName] = move
        this.dictCurrMoves[moveName].$.howl = new Howl({
          src: [path.join(CALLFOLDER, move.$.file)],
          html5: false
        })
      }
    },
    inputTab: function (tabNum) {
      console.log('"input" on tab#: ' + tabNum)
      // console.log(this.$refs.songsTabs.value)
    },
    valnFile () {
      if (this.currentFile) {
        return (
          this.currentFile.length > 0 && this.discDataHelper.fileExists(this.currentFile)
        )
      }
    },
    stopPlay () {
      if (this.stateRecordingBeats === true) {
        this.$bvModal.msgBoxOk('Aborting new beats, reverting to previous!')
        this.loadMusicFile(this.MP3FileName) // aborting beats, show the saved beats
      }
      this.stateRecordingBeats = false
      if (WAVESURFER.isPlaying()) {
        WAVESURFER.stop()
        // jun vuexify: this to happen in a commit
        this.$store.commit('CLEAR_BEAT_BOINGS')
      }
      console.log('stopPlay, timeOuts to kill:')
      console.info(this.timeoutsRunning)
      this.timeoutsRunning.forEach((to) => clearTimeout(to))
      this.$nextTick(() => { this.timeoutsRunning = [] })
      // this.analyzeData(false, false)
    },
    playSong (replaceFlag = false, progress = 0, start = 0) {
      if (this.WAVESURFER.isPlaying() && progress === 0 && start === 0) {
        console.log('Songs playSong called while playing already, but with no change: ignoring')
        return
      }
      if (replaceFlag === true) {
        // emitted by Measure subcomponent
        this.stateRecordingBeats = true
        // jun vuexify this will be a commit
        // TODO: clears all data??
        // June 27 TODO: recording only starts when there are no more beats already in lit
        this.$store.commit('INIT_BEATS', []) // sets Orig and Working
      } else {
        this.stateRecordingBeats = false // used by subcomponent
      }
      let nPositionAt
      if (start) {
        this.$store.commit('CLEAR_BEAT_BOINGS')
        this.timeoutsRunning.forEach((to) => clearTimeout(to))
        this.timeoutsRunning = []
        nPositionAt = this.discDataHelper.binarySearch(this.lstTimesWork.map(tm => tm.time), start)
        WAVESURFER.play(start) // default 0
      } else {
        nPositionAt = this.discDataHelper.binarySearch(this.lstTimesWork.map(tm => tm.time), WAVESURFER.getCurrentTime())
        WAVESURFER.play()
      }
      WAVESURFER.setVolume(this.musicVol) // no effect???

      if (this.lstTimesWork.length > 0) {
        let clrIdx = 0
        let bFirstIntervalFired = false
        let lastBeat // interval that has finished, and next interval is playing
        let currBeat // interval currently playing
        let nextBeat // next interval to be played
        let changeColors = () => {
          clrIdx++
          if (clrIdx === 10) clrIdx = 0
          // peach,lt green,violet,lt orange,lt blue,lt grey,cyan,tan,lt yellow
          let ColorValues = ['#FFFFFF', '#FFCCCC', '#99FF99', '#CCAFFF', '#FFCC99', '#A6BEFF',
            '#CCCCCC', '#99FFFF', '#D5CCBB', '#FFFF99']
          console.log('changing color to: ' + ColorValues[clrIdx])
          this.wsbgColor = ColorValues[clrIdx]
        }
        let beatIdx = Math.abs(-nPositionAt - 1)
        let that = this // this reference becomes 'that' for use in async code following
        let setBackGround = () => {
          that.WAVESURFER.setVolume(that.musicVol) // no effect??
          console.log('setBackGround invoked')
          lastBeat = currBeat
          currBeat = nextBeat
          if (beatIdx < that.lstTimesWork.length) {
          // if (!( = timeIter.next()).done) {
            nextBeat = that.lstTimesWork[beatIdx]
            let nextTimeSecs = nextBeat.time
            if (nextTimeSecs && WAVESURFER.isPlaying()) {
              // SCHEDULE NEXT CHANGE
              let wsElapsed = WAVESURFER.getCurrentTime()
              let nextGap = (nextTimeSecs - wsElapsed) * 1000
              console.log(`nextTimeSecs: ${nextTimeSecs}, playerTimer: ${wsElapsed}, nextGap: ${nextGap}`)
              // keep the calls coming
              if (that.lstSeq) {
                let curCall = that.lstSeq[beatIdx]
                beatIdx += 1
                // call should come between beat 2 and 5.  Assume there's a 1 beat leadin in the audio clip
                // so start it at 1.33 beats into current measure (nextGap / 6)
                try {
                  if (curCall.$.length > 0) { // 0 is just extra time for a continuation of previous call
                    // callDelay, if any, delays the call by a fraction of a measure.  This is the numerator
                    // (usually 4, always < 8)
                    // and the denominator of the fraction is always 8
                    let callDelay = curCall.$.delaycount ? Number.parseInt(curCall.$.delaycount) : 0
                    // Aside from any delay:
                    // The call should come between beat 2 and 5.  Assume there's a 1 beat leadin in the audio clip
                    // so start it at 1.33 beats into current measure (nextGap / 6)
                    let callOffset
                    if (!bFirstIntervalFired) {
                      let firstGap = that.meanGapImproved * 1000
                      callOffset = (nextTimeSecs - that.meanGapImproved) * 1000 + Math.round(firstGap / 4 + firstGap * callDelay / 8)
                      if (callOffset < 0) callOffset = 0
                      // first time through, we are here immediately on click.
                      // but we need to delay til just before the expected first beat
                    } else {
                      callOffset = Math.round(nextGap / 4 + nextGap * callDelay / 8)
                    }
                    that.timeoutsRunning.push(setTimeout(() => curCall && curCall.$ && that.dictCurrMoves[curCall.$.name].$.howl
                      // !...log evals to true
                      ? !console.log('calling:' + curCall.$.name) && WAVESURFER.isPlaying() && that.dictCurrMoves[curCall.$.name].$.howl.play()
                      : console.log('calling: none at:' + (currBeat ? currBeat.time : 0)),
                    callOffset))
                    console.log(`Offset: ${callOffset} Delay: ${callDelay}`)
                  } else {
                    console.log('setTimeout for call: no call, continuation of previous')
                  }
                } catch (e) {
                  console.log('no setTimeout (no call) at time:' + (currBeat ? currBeat.time : 'undefined'))
                }
              }
              if (bFirstIntervalFired) {
                // COLOR selection, for BG
                changeColors()
                if (lastBeat) {
                  this.$store.commit('SET_BEAT_BOING', {elem: lastBeat, boing: false})
                }
                this.$store.commit('SET_BEAT_BOING', {elem: currBeat, boing: true})
                if (this.scrollMe) {
                  scrollIntoView(document.getElementById('beat' + beatIdx))
                }
              } else {
                bFirstIntervalFired = true
              }
              that.timeoutsRunning.push(setTimeout(setBackGround, nextGap)) // milliseconds delay
            }
          } else { // song is done, last clr chg
            changeColors()
            this.$store.commit('SET_BEAT_BOING', {elem: lastBeat, boing: false})
          }
        }
        setBackGround()
      }
    },
    loadMusicFile (musicFile = this.MP3FileName) {
      this.awaitingBeatsSave = false // so subcomponent knows we have exited recording after "save option" dialog closed
      const remote = this.$electron.remote
      this.measuresComponentKey++ // causes destroy/recreate/remount
      // jun vuexify: this will be a commmit
      this.$store.commit('INIT_BEATS', []) // this just clears the store
      try {
        try {
          if (WAVESURFER) {
            WAVESURFER.destroy()
          }
        } catch (e) {
          console.log(e)
        }
      } catch (e) {
        console.log('ERR: destroy on WAVESURFER failed... ')
      }
      this.currentFile = musicFile
      this.$store.commit('SET_MP3NAME_AND_DEPS', {MP3FileName: ''}) // this just clears the store for filename and all depenedent values
      this.$store.dispatch('setMP3NameAndCalcMd5', {MP3FileName: musicFile}) // sets name and empty md5 pending data
      // get the XML (Beats) file
      let xmlFile = path.join(BEATSFOLDER, path.basename(this.currentFile,
        path.extname(this.currentFile)) + '.xml')
      if (this.discDataHelper.fileExists(xmlFile)) {
        try {
          let xmlData = this.discDataHelper.getXMLData(xmlFile, { type: 'beats' }) || []
          let xmlAuthor = xmlData.authorId
          let xmlDate = xmlData.authorDate
          let MP3URL = xmlData.MP3URL
          let MP3FileNameMd5GivenXML = xmlData.md5
          this.$store.commit('SET_MP3NAME_AND_DEPS', {
            MP3FileName: musicFile,
            MP3FileNameMd5GivenXML: MP3FileNameMd5GivenXML,
            xmlAuthor: xmlAuthor,
            xmlDate: xmlDate,
            MP3URL: MP3URL
          })
          let lstTimesLocal = xmlData.beats.map(beat => {
            this.$set(beat, 'boing', false) // make sure "boing" is reactive, so the boing animation works!
            return beat
          })
          this.$store.commit('INIT_BEATS', lstTimesLocal) // actual initial value here!
        } catch (e) {
          this.badFileModalTitle = 'XML file Illegal Format'
          this.badFileModalText = 'XML file (with beat times for this song) is illegal format.  You should replace it.  ' + e.message
          this.$refs.modalBadFile.show()
          console.log('ERROR: Failed to get measures data for music file: ' + '\n' + e.stack)
        }
      } else {
        console.log('No Beats data (xml) found for this song')
      }

      // get the Calls (Sequence) file
      if (this.lstTimesWork.length > 0) {
        let seqFilePath = path.join(RMDIR, this.RMEFolder, 'secuencias_para_canciones', path.basename(this.currentFile,
          path.extname(this.currentFile)) + '.seq')
        if (this.discDataHelper.fileExists(seqFilePath)) {
          try {
            let seqContent = this.discDataHelper.getXMLData(seqFilePath, { type: 'sequence' }) || []
            let seqAuthor = seqContent.author[0].$.authorId
            let seqAuthorDate = seqContent.author[0].$.date
            let MP3FileNameMd5GivenSEQ = seqContent.musicfile[0].$.md5
            let seqFile = seqContent.musicfile[0]._
            let seqScheme = seqContent.scheme[0]._
            let seqSchemeAuthor = seqContent.scheme[0].$.provider
            let seqSchemeDate = seqContent.scheme[0].$.date
            let seqData = seqContent.sequences[0].sequence[0].move || []

            this.$store.commit('SET_MP3NAME_AND_DEPS', {MP3FileName: musicFile, MP3FileNameMd5GivenSEQ: MP3FileNameMd5GivenSEQ}) // sets name and fresh calc of md5
            let clonedMoves = seqData.map(nameObj => this.$store.getters.getMoveByNameObj(nameObj))
            this.dictCurrMoves = clonedMoves.reduce((acc, curOrig) => {
              let cur = _cloneDeep(curOrig)
              this.$set(cur.$, 'howl', new Howl({
                src: [path.join(CALLFOLDER, cur.$.file)],
                html5: false
              }))
              this.$set(acc, cur.$.name, cur)
              return acc
            }, {})
            let extendedBars = 0 // how we mark the "extra" measures reserved for longer moves
            let extendedOffset = 0 // we are going to pad the array internally when there is an extended move
            let internalSeq = []
            // init the calls needed in this rueda
            clonedMoves.forEach((moveObj, index) => {
              if (moveObj.$.name === 'Continue') {
                internalSeq[index + extendedOffset] = undefined
              } else {
                internalSeq[index + extendedOffset] = moveObj
                extendedBars = moveObj.$.length - 1
                while (extendedBars) {
                  extendedOffset += 1
                  extendedBars -= 1
                  // the source array does not hold the extended beats, we add them for visual effect - information
                  internalSeq[index + extendedOffset] = _cloneDeep(moveObj) // clone, helps distinct appearance of extended measures
                  internalSeq[index + extendedOffset].$.length = 0 // internal sign this the move is an extended count move
                }
              }
            })
            this.$store.commit('LOAD_SEQ', internalSeq) // sequence formatted for RME use, save a copy in store
            // this.lstSeq = internalSeq
          } catch (e) {
            this.badFileModalTitle = e.message // this contains the "not found" move name
            this.badFileModalText = 'SEQ file (with calls for this song) is illegal format.  You should replace it.  ' +
              'IF YOU DELETED a move and it is used in this SEQ, you must MANUALLY fix the file; or delete it and create again.'
            this.$refs.modalBadFile.show()
            this.$store.commit('LOAD_SEQ', []) // ensure we don't keep a previous file sequence if none for current song
            console.log('ERROR: Failed to get sequence data for sequence file: ' + '\n' + e.stack)
          }
        } else {
          this.$store.commit('LOAD_SEQ', []) // ensure we don't keep a previous file sequence if none for current song
          console.log('No Calls data file (seq) found for this song')
        }
      } else {
        this.$store.commit('LOAD_SEQ', []) // ensure we don't keep a previous file sequence if none for current song
        console.log('No Beats, so don\'t event look for sequence!')
      }
      this.bLoading = true // trigger loading animation
      this.prepareSong()
      remote.getCurrentWindow().show() // ensure focus on the renderer window
    },
    chooseFile () {
      try {
        WAVESURFER.stop()
      } catch (e) {
        console.log('Wavesurfer stop command fails, not initialized')
      }

      console.log('select file opened')
      const remote = this.$electron.remote
      let files = remote.dialog.showOpenDialog(remote.getCurrentWindow(), {
        title: 'Choose dance music',
        defaultPath: MUSICFOLDER,
        buttonLabel: 'Select music',
        // we told them it's for mp3 files... but m4a should work if they try
        filters: [{ name: 'Songs', extensions: ['mp3', 'm4a'] }],
        properties: ['openFile']
      })
      if (files) {
        this.waveIsLoaded = false
        this.loadMusicFile(files[0])
      }
    },
    prepareSong () {
      try {
        WAVESURFER = WaveSurfer.create({
          container: '#waveform',
          height: 64
        })
        this.WAVESURFER = WAVESURFER // put a reference at vue instance scope, so can be passed to components
      } catch (e) {
        console.log(e)
      }
      // is there a call file name, if so: does it exist in vueltas?
      if (this.currentFile) {
        let filePath = this.currentFile
        let that = this
        fs.readFile(filePath, (err, data) => {
          if (data && !err) {
            console.log('has data and no error!')
          }
          let fileData = new window.Blob([data])
          WAVESURFER.loadBlob(fileData)

          // event config
          WAVESURFER.on('loading', percent => {
            console.log('WAVESURFER loading', percent + '%')
          })

          WAVESURFER.on('error', err => {
            console.log('WAVESURFER error', err)
          })

          WAVESURFER.on('seek', progress => {
            console.log('WAVESURFER seek', progress)
            let wasPlaying = WAVESURFER.isPlaying()
            this.$store.commit('CLEAR_BEAT_BOINGS')
            WAVESURFER.pause()
            console.log('ws seek, timeOuts to kill:' + that.timeoutsRunning)
            that.timeoutsRunning.forEach((to) => clearTimeout(to))
            that.timeoutsRunning = []
            that.$nextTick(() => {
              that.timeoutsRunning = []
              if (progress > 0 && wasPlaying) that.playSong(false, progress)
              WAVESURFER.setVolume(that.musicVol) // no effect??
            })
          })

          WAVESURFER.on('ready', () => {
            console.log('WAVESURFER ready')
            that.bLoading = false
            that.waveIsLoaded = true // this should enable play button
            let timeTotal = WAVESURFER.getDuration()
            // total time for display in UI
            that.timeTotal =
              Math.floor((((timeTotal % 31536000) % 86400) % 3600) / 60) +
              ':' +
              Math.floor((((timeTotal % 31536000) % 86400) % 3600) % 60) +
              ' (' +
              timeTotal.toFixed(1) +
              ' sec)'
          })

          WAVESURFER.on('finish', () => {
            try {
              WAVESURFER.play(0) // don't know another way to reset to beginning
              WAVESURFER.stop()
            } catch (e) {
              console.log('Err resetting WAVESURFER at time 0')
            }
            // that.stopPlay()
            if (that.stateRecordingBeats === true) {
              that.awaitingBeatsSave = true // tell Measures to ignore space bar til we've got an answer!
              let obj = {
                title: 'Replace?',
                message: 'Do you want to keep this version?  (You can fix issues later)', // string -- message alert
                type: 'warning', // string -- type : info (default), success, warning, error
                customCloseBtnText: 'Save New Beats?', // string -- close button text
                onClose: this.persistRevisedBeats, // function -- when close triggered
                useConfirmBtn: true, // boolean -- using confirm button
                onConfirm: this.loadMusicFile,
                customConfirmBtnText: 'Cancel' // string -- confirm button text
                // showXclose: false //boolean -- show x close button
              }
              this.$refs.simplert.openSimplert(obj)
              that.stateRecordingBeats = false // wait til this dlg is closed, put it in the downstream actions
            }
            this.$store.commit('CLEAR_BEAT_BOINGS')
          })
        })
      }
    }
  }
}
</script>

<style scoped>
/* main not needed? */
main {
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0px;
}
</style>
