<template>
  <div>
    <b-card
      title="Send to phone/tablet (via WiFi/Hotspot and FTP)"
      tag="article"
      class="mb-2">

      <div class="col-12">
        <br>
        <div>
          <p>Selected Scheme: <strong>{{RMEFolder}}</strong>.  To upload a different scheme, select it on the blue nav bar above.</p>
        </div>
        <b-card variant="success" class="col-11">
          <div class="title">Phone/tablet destination:</div>
          <div class="justify-content-center row">
          <b-form-fieldset horizontal label="Address" class="col-5">
            <b-form-input v-model="androidIP" placeholder="FTP IP ADDRESS" />
          </b-form-fieldset>
          <b-form-fieldset horizontal label="Port" class="col-4">
            <b-form-input v-model="androidPORT" placeholder="FTP PORT #" />
          </b-form-fieldset>
          <div class="col-3">
            <b-button variant="success" @click="checkAndDoFTP" >UPLOAD</b-button>
          </div>
          <b-card>
            <div class="justify-content-left row">
              <b-form-checkbox
                  id="checkbox-1"
                  v-model="bSendMusicToo"
                  name="checkbox-1"
                  value="accepted"
                  unchecked-value="not_accepted"
                >
                Send current song
              </b-form-checkbox>
              <ul>
                <li>The music file should be Loaded (on the Songs tab)</li>
                <li>The music is copied to the Android device's Music folder</li>
                <li>If there's a file of the same name, it will be overwritten</li>  
                <li>Music takes longer to transfer</li>
              </ul>
            </div>
          </b-card>
          </div>
        </b-card>
        <div>
          <p><em>Status:</em> {{FTPstatus}}</p>
        </div>
        <b-card bg-variant="light">
          <p><strong>Help:</strong></p>
          <div>
            <p>1. Android and PC join the same LAN. Or, PC connects to an Android Hotspot</p>
            <p>2. From the Android Play Store, install "FTP Tools - Wifi Hotspot File Transfer Manager". </p>
            <p>3. Click "START".  The app shows its address and port.</p> 
            <p>4. Key in the address and port above ... and click "Upload".  Wait til Status line says "Done".</p>
            <p> Watch the help video... if these concepts are not familiar to you</p>
          </div>
          <b-button href="#" variant="primary">Watch a Help video [future]</b-button>
        </b-card>
        <b-modal title="FTP Error" ref="FTPError" ok-only>
          {{FTPError}} <br> Android folder: {{RMEFolder}} <br><br> <strong>{{FTPErrorHint}}</strong>
        </b-modal>
        <b-modal title="Upload music file" ref="uploadMusicProblem" ok-only="">
          <p>No music is selected currently.  Go to the Songs tab, and select the Music file to upload.</p>
          <p>Otherwise, turn off the checkbox "Send Music".</p>
        </b-modal>
      </div>
    </b-card>
  </div>
</template>

<script>
/* eslint-disable no-unused-vars */
import fs from 'fs-extra'
import path from 'path'
import klaw from 'klaw-sync'
const ftp = require('basic-ftp')

export default {
  data () {
    return {
      androidIP: '192.168.',
      androidPORT: '',
      bSendMusicToo: '',
      FTPError: '',
      FTPErrorHint: '',
      FTPlocalFolder: '',
      FTPdestFolder: '',
      FTPdestMusicFolder: '',
      FTPstatus: '[to start: Enter above the address/port from your phone/tablet... then click UPLOAD]',
      FTPErrorFlag: false
    }
  },
  mounted () {
    this.androidIP = this.androidIPSetting
    this.androidPORT = this.androidPORTSetting
  },
  computed: {
    RMEFolder () {
      return this.$store.state.settingsStore.settings.RMEFolder
    },
    androidIPSetting () {
      return this.$store.state.settingsStore.settings.androidIP || '192.168.'
    },
    androidPORTSetting () {
      return this.$store.state.settingsStore.settings.androidPORT || ''
    },
    loadedMusic () {
      return this.$store.state.beatsAndSequenceStore.MP3FileName
    }
  },
  methods: {
    checkAndDoFTP () {
      if (this.bSendMusicToo === 'accepted' && !this.loadedMusic) {
        this.$refs.uploadMusicProblem.show()
      } else {
        this.doFTP()
      }
    },
    async doFTP () {
      this.FTPErrorFlag = false
      this.FTPstatus = 'Connecting...'
      // var ftp = require('basic-ftp')
      this.FTPlocalFolder = 'C:/Users/rc/Documents/RuedaMaticEditor'
      this.FTPdestFolder = '/Android/data/com.come2think.ruedamatic/files/Documents/RuedaMatic'
      this.FTPdestMusicFolder = '/Music'
      /* eslint-disable no-unused-vars */
      let that = this
      const client = new ftp.Client()
      client.ftp.verbose = true
      client.ftp.ascii = true // text files, s/b unix EOL - not windows EOL. In case user edits with notepad ;-)
      try {
        await client.access({
          host: this.androidIP,
          port: this.androidPORT
        })
        console.log('addr/port:' + this.androidIP + '/' + this.androidPORT)
        // console.log(await client.list())
        if (this.bSendMusicToo) {
          await client.ensureDir(this.FTPdestMusicFolder)
          this.FTPstatus = 'Uploading music ' + path.basename(this.loadedMusic)
          await client.upload(fs.createReadStream(this.loadedMusic), path.basename(this.loadedMusic))
        }
        await client.ensureDir('/') // cwd clean for next
        this.FTPstatus = 'Ensuring main RM folder exists...'
        await client.ensureDir(this.FTPdestFolder)
        this.FTPstatus = 'Clearing old data from RM folder...'
        await client.clearWorkingDir()
        let schemeMarker = klaw(this.FTPlocalFolder + '/' + this.RMEFolder, {depthLimit: 0, filter: fn => path.extname(fn.path) === '.scheme', nodir: true})
        if (schemeMarker.length === 1) {
          let schemeFn = path.basename(schemeMarker[0].path)
          this.FTPstatus = 'Uploading scheme marker...'
          // client.encoding = 'UTF-8'
          await client.upload(fs.createReadStream(schemeMarker[0].path), schemeFn)
        }
        this.FTPstatus = 'Uploading compases_para_canciones...'
        await client.uploadDir(this.FTPlocalFolder + '/compases_para_canciones', 'compases_para_canciones')
        this.FTPstatus = 'Uploading secuencias_para_canciones...'
        await client.uploadDir(this.FTPlocalFolder + '/' + this.RMEFolder + '/secuencias_para_canciones', 'secuencias_para_canciones')
        this.FTPstatus = 'Uploading vueltas...'
        await client.uploadDir(this.FTPlocalFolder + '/' + this.RMEFolder + '/vueltas', 'vueltas')
      } catch (err) {
        console.log(err)
        this.FTPErrorFlag = true
        this.showFTPError(err)
      }
      if (this.FTPErrorFlag) {
        this.FTPstatus = 'Done with errors!'
      } else {
        this.FTPstatus = 'Done!'
      }
      this.FTPErrorFlag = true
      client.close()
      // if we got this far, save ftp addr and port as a setting
      this.$store.commit('UPDATE_SETTINGS_DATA', {androidIP: this.androidIP, androidPORT: this.androidPORT})
    },
    showFTPError (err) {
      this.FTPError = ''
      this.FTPErrorHint = ''
      if (!err) {
        this.FTPErrorHint = 'Timeout: Check your phone/tablet connection, and ADDRESS and PORT!'
      } else {
        if (err.code === 'ETIMEDOUT') {
          this.FTPErrorHint = 'Timeout: Check your phone/tablet connection, FTP is started, and check ADDRESS and PORT!'
        }
        if (err.code === 'ENOENT') {
          this.FTPErrorHint = 'Check your Android PORT'
        }
        if (err.code === 'ENOTFOUND') {
          this.FTPErrorHint = 'Check phone/tablet FTP server is RUNNING.  THEN, check ADDRESS'
        }
        if (err.code === 'ECONNREFUSED') {
          this.FTPErrorHint = 'Check phone/tablet FTP server is RUNNING.  THEN, check ADDRESS and PORT'
        }
      }
      this.FTPError = err.code + ': ' + err.message
      this.$refs.FTPError.show()
    }
  }
}
</script>

<style scoped>

</style>