<template>
  <div>
    <simplert :useRadius="true" :useIcon="true" ref="simplert"/>
    <b-alert :show="dismissCountDown" dismissible variant="warning" @dismiss-count-down="alertCountingDown">
      <h3>Hit 'space' on every 1 count</h3>
      <b-progress :max="dismissSecs" :value="dismissCountDown" variant="warning" height="8px" />
    </b-alert>
    <b-row ref="expertControls" v-show="this.$store.state.settingsStore.settings.userType==2" style="height:45px;margin:0;" 
      title="Beat times and gears: saved in [song].xml file.
Call seq: saved in [song].seq file. 
Moves: saved in moves.xml file">
      <b-col md="5" style="margin:0;" >
        <input type="radio" id="timeMode" value="timeMode" v-model="modePerRadios">
        <label for="timeMode" title="Beat times and gears: saved in XML file">Beats</label>
        <input type="radio" id="gearMode" value="gearMode" v-model="modePerRadios">
        <label for="gearMode" title="Beat times and gears: saved in XML file">Gears</label>
        <input type="radio" id="callsMode" value="callsMode" v-model="modePerRadios">
        <label for="callsMode" title="Calls: saved in SEQ file">Call sequence</label>
      </b-col>
      <b-col v-show="mode === 'timeMode'" md="3" style="margin:0;">
          <span v-show="mode === 'timeMode'" title="Adjust all times by approx 1/4 beat">
              Nudge:
            <b-button :disabled="disableNudge" class="mx-0" @click="nudgeBeatsUp"><v-icon  class="m-1" scale=0.6 name="plus"/></b-button>
            <b-button :disabled="disableNudge" class="mx-0" @click="nudgeBeatsDown"><v-icon class="m-1" scale=0.6 name="minus"/></b-button>
          </span>
      </b-col>
      <b-col v-show="mode === 'timeMode'" md="4" style="margin:0;">
        <b-button class="m-2" @click="autoFix" title="If a beat was missed etc, this might fix it." :disabled="!waveIsLoaded">
            Try Autofix
        </b-button>
        <b-button class="m-2" @click="startNewBeatsCountdown" title="Play song and record all new beats" ref="btnRecordNew" :disabled="!waveIsLoaded" variant="info">
            Record new beats
        </b-button>
      </b-col>
      <b-col v-show="mode !== 'timeMode'" md="7" style="margin:0;">
          <span v-show="mode === 'callsMode'" title="Shift calls to the left or right.  Drops the first or last call.">
              Shift calls left or right (drop first or last):
            <b-button :disabled="disableNudge" class="mx-0" @click="nudgeCallsUp"><v-icon  class="m-1" scale=0.6 name="plus"/></b-button>
            <b-button :disabled="disableNudge" class="mx-0" @click="nudgeCallsDown"><v-icon class="m-1" scale=0.6 name="minus"/></b-button>
            <b-button class="m-2" @click="deleteAllCalls" title="If a beat was missed... etc... this might fix it.">Delete All</b-button>
          </span>
      </b-col>
    </b-row>
    <!-- <ul style="height: 300px; position: relative; overflow-y: scroll;"> -->
    <div :title="callsModeTooltipInMargins()">
      <ul :style="{ height: (cardHeight - 145) + 'px', position: 'relative', 'overflow-y': 'scroll'} ">
        <li v-for="(item, index) in lstTimesWork" :key="item.time" @click="clickListItem" :id="'beat' + index">
          <b-button v-show="mode === 'timeMode'" :variant="item.bsVariant" @click="details(index)" :class="{boing: item.boing}"
              style="height:35px;width:105px;white-space:normal;" :title="(item.comment || '(no comment)') + '[' + index + ']'">
              <!-- <img src="https://lorempixel.com/30/30/" alt="Responsive image" />  -->
            {{ item.time.toFixed(1) }} <v-icon  class="m-1" scale=0.6 name="hand-lizard"/>{{ lstTimesWork[index - 1]? (item.time - lstTimesWork[index - 1].time).toFixed(1):0 }}
          </b-button>
          <b-button v-show="mode === 'gearMode'" :variant="calcVariant(item)" @click="details(index)" :class="{boing: item.boing}"
              style="height:35px;width:105px;white-space:normal;" :title="(item.comment || '(no comment)') + '[' + index + ']'">
            {{ item.gear }}
          </b-button>
          <b-button v-show="mode === 'callsMode'" :variant="calcVariant(item)" @click="details(index)" :class="{boing: item.boing,
              extensionbeat: isExtension(item, index), notextensionbeat: !isExtension(item, index)}" 
              style="height:35px;width:105px;" :title="getItemTitle(item, index)">
            {{ displayMove(item, index) }}
          </b-button>
        </li>
      </ul>
    </div>
    <!--the modals: edit a move info, click so there is a "current item" -->
    <!--v-if prevents error on startup-->
    <b-modal v-if="currentItem" ref="modalNoMoveHere" title="Clicked on continuation" ok-only>
      This is a continuation of a previous move.  No move can be placed here unless the previous move is changed or removed.
    </b-modal>
    <b-modal v-if="currentItem" ref="modalConflict" title="Runs into existing move" ok-only>
      This would overwrite an existing move.  Change the other move first.  Or select a shorter move here.
    </b-modal>
    <b-modal v-if="currentItem" ref="modalConfirmDelete" title="Existing move, delete?" @ok="deleteThisMove">
      Delete this move?
    </b-modal>
    <!-- MAIN EDIT MODAL, all modes -->
    <b-modal v-if="currentItem" v-model="modalEditShown" ref="modalEdit" :title="getModalTitle()" close-title="Cancel" 
        @cancel="cancelEdit" @ok="saveEdit" @hide="removeDlgAlerts()" @shown="setFocus">
      <!-- simple editing of what beats in one of their manifestations: beat time, gear, move -->
      <!-- case of raw beat time: more complex now - go through details() to show them modalBeatAction dlg, go to onBeatAction to set this.beatAction
      and then finally details, go back to details() with this.beatAction set and determining what happens (edit, delete1, deleteRest, insert).  -->
      <b-form-fieldset v-if="mode === 'timeMode'" ref="time" title="Beat time" horizontal label="Time: ">
        <b-form-input ref="newTimeInput" v-model.number="currentItem.time" />
      </b-form-fieldset>
      <b-container v-else-if="mode === 'gearMode'" >  <!--  so this will be callsMode! -->
        <b-form-fieldset ref="gear" title="Timba gear/comment">
          <!-- must use standard select to get the colors we want in the dropdown list -->
          Gear: <select ref="gearSelect" v-model="currentItem.gear">
          <option :key="option.value" v-for="option in gearOptions" :style=option.style :value="option.value">
            {{ option.text }}
          </option>
          </select>
        </b-form-fieldset>
        <b-form-fieldset ref="comment" title="Text to help call selection" horizontal label="Comment: ">
          <b-form-input v-model="currentItem.comment" />
        </b-form-fieldset>
      </b-container>
      <b-container v-else fluid>  <!--  so this will be callsMode! -->
        <b-row>
          <b-col class="my-1" md="12" ref="filterCol">
            <b-form-group class="my-0" ref="filterGrp">
              <b-input-group>
                <!-- :style="{ width: 'refs.fillterRow.width'-50 }"  -->
                <b-form-input v-model="moveFilter" ref="filterInput" style="{ width: 300 }" placeholder="Type to Search" />
                <b-input-group-append>
                  <b-btn :disabled="!moveFilter" @click="moveFilter = null">Clear</b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-table ref="moveTable" v-model="lstModalDisplayedMoves" striped small hover 
          :items="moves" :filter="moveFilter" :fields="moveFields" 
          @row-clicked="onModalRowClicked" title="try: arrow down and enter key">
        </b-table>
      </b-container>
    </b-modal>

    <b-modal v-if="currentItem" @ok="cancelEdit" ok-only ok-title="Cancel" ok-variant="secondary" ref="modalBeatAction" title="Modify Beats" close-title="Cancel">
      <b-container fluid>
        <b-row class="my-0">
          <b-col cols="2"><b-button variant="primary" style="width:50px;" @click="onBeatAction('edit')">Edit</b-button></b-col><b-col cols="8"><p>Edit beat (change value (seconds)</p></b-col>
        </b-row>
        <b-row class="my-0">
          <b-col cols="2"><b-button variant="warning" style="width:50px;" @click="onBeatAction('delete')">Del 1</b-button></b-col><b-col cols="8"><p>Delete beat (no change to other beats)</p></b-col>
        </b-row>
        <b-row class="my-0">
          <b-col cols="2"><b-button variant="warning" style="width:50px;" @click="onBeatAction('deleteRest')">Del-></b-button></b-col><b-col cols="8"><p>Delete this, and all remaining beats</p></b-col>
        </b-row>
        <b-row class="my-0">
          <b-col cols="2"><b-button variant="primary" style="width:50px;" @click="onBeatAction('insert')">Insert</b-button></b-col><b-col cols="8"><p>Insert a beat before this one</p></b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import _sum from 'lodash/sum'
import _mean from 'lodash/mean'
import _range from 'lodash/range'
import _cloneDeep from 'lodash/cloneDeep'

class BeatTime {
  constructor (time, gear = 'normal', comment = '') {
    this.time = time
    this.gear = gear
    this.comment = comment // free form comment
    this.bsVariant = 'success' // or 'danger', 'warning'
  }
}

class Gap {
  constructor (lenGap, endBeatIndex) {
    this.len = lenGap
    this.endBeatIndex = endBeatIndex // After a diagnostic pass, is the gap-ending BeatTime.
    // ...which is later used to show bad gaps on the original BeatTime, via bsVariant field.
    // After a fix pass, it is just -1: just a marker, no further use
  }
}

function analyzeDataImpl (bCalcOnly = true, bFileAnalyzedWasPreexisting) {
  // ===================
  //  several helper functions first:
  // on each tap
  // - add new gap to GAPS array [incremental]
  // - redo the mean calc [entire]
  // - exercise the analyzeData loop beginning at size + 1 [incremental]
  function standardDeviation (array) {
    // only Gap objects come here, we need .len property
    let arrayBare = array.map(g => g.len)
    let avg = _sum(arrayBare) / arrayBare.length
    return Math.sqrt(
      _sum(arrayBare.map(item => Math.pow(item - avg, 2))) / arrayBare.length
    )
  }

  function improvedMean (aryGaps) {
    //  called only by AnalyzeData
    // get a realistic mean, by making a token attempt to
    // throw out outlier data first.

    // 1- sort the array
    let srtAryGaps = aryGaps.map(x => x.len)
    srtAryGaps.sort() // arg in ActionScript was Array.NUMERIC

    // 2- find the number we can discard.  Min to leave is 50% or 5, whichever is least.
    let iDiscardMax = srtAryGaps.length - Math.max(5, srtAryGaps.length * 0.5)

    // 3 - discard the biggest gaps from either top or bottom end
    let iDiscarded = 0
    let bDone = false
    let iMean
    while (bDone === false && iDiscarded < iDiscardMax) {
      iMean = _mean(srtAryGaps)
      let iGapDeltaStart = iMean - srtAryGaps[0] // start is the smallest gaps
      let iGapDeltaEnd = Math.abs(iMean - srtAryGaps[srtAryGaps.length - 1]) // end is the largest gaps
      if (
        iGapDeltaStart / iMean > iGapDeltaEnd / iMean &&
        iGapDeltaStart / iMean > 0.02
      ) {
        // Fatty is at the START, drop it
        srtAryGaps.shift()
        iDiscarded += 1
      } else if (
        iGapDeltaEnd / iMean >= iGapDeltaStart / iMean &&
        iGapDeltaEnd / iMean > 0.02
      ) {
        // Fatty is at the END, drop it
        srtAryGaps.pop()
        iDiscarded += 1
      } else {
        // No more outlier data to trim!
        bDone = true
      }
    }
    console.log('iDiscarded:' + iDiscarded)

    // 4- take the mean
    return _mean(srtAryGaps)
  }

  // OUTER MAIN starts
  let tStart = new Date().getMilliseconds()
  // main arrays we work with are initialized here
  let aryGaps = [] // new Array() of BeatTime objects
  //  === HERE IS THE CORRECTED ARRAY OF GAPS ===
  let aryGapsFixed = [] // create a corrected version, Array() of BeatTime objects
  for (let iLoop = 1; iLoop < this.lstTimesWork.length; iLoop++) { // aryGaps, aryGapsFixed
    aryGaps.push(
      new Gap(this.lstTimesWork[iLoop].time - this.lstTimesWork[iLoop - 1].time, iLoop)
    )
    aryGapsFixed.push(
      new Gap(this.lstTimesWork[iLoop].time - this.lstTimesWork[iLoop - 1].time, iLoop)
    )
  }

  // After song is finished, User can choose whether to replace the incorrect array
  //   in the function onConfirmFixBeats

  const nMean = improvedMean(aryGaps.concat()) // concat ensures original array is not changed in the sub
  this.meanGapImproved = nMean
  // console.log('SD/Mean/%:' + nSD + '/' + nMean + '/' + Math.round(nSD / nMean * 100))

  // if a fairly long one is found, followed by a short one, and total is close to ave: interpolate
  //   same: short one found, followed by a long one

  // if a long one is found, surrounded by ave ones, split it.
  let iCountGapsAveraged = 0
  let iCountPointsInserted = 0

  let iBumpCounter = 0 // after each iter, bump the loop counter if non-zero
  let timeFor2 = 0 // computed for test 1, reused in test 3: combined n, n+1 length
  const highEndErr = 0.08
  const lowEndErr = highEndErr * 1 / (1 + highEndErr)

  for (let iLoop2 = 0; iLoop2 < aryGapsFixed.length; iLoop2++) {
    iBumpCounter = 0 // reinit for each loop
    timeFor2 = 0

    // USE CASE: maybe the user made some errors in setting times.
    //  As long as it isn't TOO screwed up, let's try to make it better
    //
    // 1 - EXTRA BEAT
    //   add i, i+1: if within range for a single beat, eliminate the middle one.
    //     (what if user switched to offbeat by accident)
    //   loop adjust: yes
    // 2 - MISSING BEAT
    //   compare i to mean.  If a multiple up to (say) 8x mean, within 1.08/.926, THEN put fixes in FIX array
    //   loop adjust: no
    // 3 - EARLY/LATE BEAT
    //   compare i and i+1, if "i" is late or early, then put the fix in the FIX array
    //   loop adjust: no
    // ------------------------

    // 1 DOUBLE HIT - add i, i+1.  if together ~ mean, then consider the first a mistake.  Remove and incr gap 2
    const that = this // inside if statements sometimes can't see 'this' ??
    if (iLoop2 < aryGapsFixed.length - 3) { // the gaps length is 1 less than the original times.  Then the loop uses a +1 on the value.  So here, -3
      // DOCS: something that passes OK and might not be obvious:
      //  CLAVE SWITCH - i.e. skipping 5-6-7-8: doesn't fit narrow pattern of an early/late beat!
      that.$store.commit('SET_BEAT_WARNING', {ind: iLoop2 + 1, variant: 'success'})
      // need n+1 comparison
      timeFor2 = aryGapsFixed[iLoop2].len + aryGapsFixed[iLoop2 + 1].len
      if (timeFor2 < nMean * (1 + highEndErr) && timeFor2 > nMean * (1 - lowEndErr)) {
        // there are 2 gaps where there should be 1... kill both, replace with single = total of both
        iCountPointsInserted -= 1
        aryGapsFixed.splice(iLoop2, 2, new Gap(timeFor2, aryGapsFixed[iLoop2 + 1].endBeatIndex))
        that.$store.commit('SET_BEAT_WARNING', {ind: iLoop2 + 1, variant: 'warning'})
        this.$bvToast.toast('Warning!', {
          title: 'Beats are not even.  Try Autofix, or insert/delete beats - unless it was intended!',
          autoHideDelay: 8000
        })
        iBumpCounter = 1
      }
    }

    // 2 MISSED BEAT - is gap2 an even multiple of the mean, within the allowed error
    let mult = Math.round(aryGapsFixed[iLoop2].len / nMean)
    if (mult > 1) {
      that.$store.commit('SET_BEAT_WARNING', {ind: iLoop2 + 1, variant: 'warning'})
      this.$bvToast.toast('Warning!', {
        title: 'Beats are not even.  Try Autofix, or insert/delete beats - unless it was intended!',
        autoHideDelay: 8000
      })
      let iNewGap = aryGapsFixed[iLoop2].len / mult
      // insert mult gaps
      // add multiple
      iCountPointsInserted += mult - 1
      let inserted = Array.from(
        _range(1, mult + 1),
        () => new Gap(iNewGap, aryGapsFixed[iLoop2].endBeatIndex)
      )
      aryGapsFixed.splice(iLoop2, 1, ...inserted)
      // }
    }

    // 3 LATE/EARLY - is gap and gap+1 == 2 * mean, but one of them is far from mean?  I.e., is late or early
    if (iLoop2 < aryGapsFixed.length - 1) {
      // timeFor2 init'd in 1 IMPL
      if (timeFor2 > nMean * 2 * (1 - lowEndErr) && timeFor2 < nMean * 2 * (1 + highEndErr)) {
        if (aryGapsFixed[iLoop2].len < nMean * (1 - lowEndErr) || aryGapsFixed[iLoop2].len > nMean * (1 + highEndErr)) {
          // beat 1 is early or late, change the length to timeFor2/2
          aryGapsFixed[iLoop2].len = timeFor2 / 2
          aryGapsFixed[iLoop2 + 1].len = timeFor2 / 2
          that.$store.commit('SET_BEAT_WARNING', {ind: iLoop2 + 1, variant: 'warning'})
          this.$bvToast.toast('Warning!', {
            title: 'Beat appears to be late/early.  If not intended - you can try Autofix later!',
            autoHideDelay: 2000
          })
        }
      }
    }
    iLoop2 += iBumpCounter
  }
  // console.log('gaps averaged/ gaps inserted:' + iCountGapsAveraged + '/' + iCountPointsInserted)
  // console.log( 'aryGaps:' + aryGaps )
  // console.log('aryGapsFixed:' + aryGapsFixed)
  // console.log('aryGapsFixed.length:' + aryGapsFixed.length)

  let onConfirmFixBeats = () => {
    function beatFixReducer (aryTimesLocal, nextGap, index) {
      aryTimesLocal.push(new BeatTime(aryTimesLocal[index].time + nextGap.len))
      return aryTimesLocal
    }
    // Original first beat is base, then reconstruct all remaining beats
    // based on the fixed gaps
    this.subSaveBeats(aryGapsFixed.reduce(beatFixReducer, [this.lstTimesWork[0]]))
    this.subSaveSeq() // just in case?
    this.analyzeData(true, false) // repeat - needed?
  }
  if (!bCalcOnly) {
    let nSDFixed = standardDeviation(aryGapsFixed)
    let nMeanFixed = _mean(aryGapsFixed.map(g => g.len))
    // console.log('Fixed SD/Mean/%:' + nSDFixed + '/' + nMeanFixed + '/' + Math.round(nSDFixed / nMeanFixed * 100))
    let nSDOrig = standardDeviation(aryGaps)

    console.log('Orig SD/Mean/%:' + nSDOrig + '/' + nMean + '/' + Math.round(nSDOrig / nMean * 100))
    console.log('Fixed SD/Mean/%:' + nSDFixed + '/' + nMeanFixed + '/' + Math.round(nSDFixed / nMeanFixed * 100))

    // the diagnosis and choice, and maybe saving dialogs

    let sMsg = ''
    if (nSDFixed < nSDOrig) {
      // offer to replace
      if (bFileAnalyzedWasPreexisting) {
        sMsg += 'PROBLEM: the timing looks uneven.'
      }
      sMsg += '\n\nStd Dev % of beats:' + Math.round(nSDOrig / nMean * 100)
      if (iCountPointsInserted > 0) {
        sMsg += '\nBeats that appear to be missed :' + iCountPointsInserted
      }
      // FIXME: this one not used?
      if (iCountGapsAveraged > 0) {
        sMsg += '\nBeats that seem mis-timed:' + iCountGapsAveraged
      }
      sMsg += '\nStd Dev % of beats can be improved to:' + Math.round(nSDFixed / nMeanFixed * 100)
      sMsg += '\nDo you wish to make the change? (overwrite old Beats file)'
      console.log('prompting for onConfirmFixBeats')
      this.promptAndHandle('Fix Beats', sMsg, "I'll go with that", onConfirmFixBeats)
    } else {
      sMsg += 'Std Dev % of beats:' + Math.round(nSDOrig / nMean * 100)
      sMsg += '\nIf you are satisfied, you can build a move sequence.'
      console.log('autofix, no autofix to suggest!')
      this.promptAndHandle('Confirm', sMsg, 'OK, got it!', null, null, false)
    }

    // check the next line, is it useful for anything?
    // bFileAnalyzedWasPreexisting = false // turn off the flag set by loading an existing beats file
    console.log(
      'analyzeDataImpl elapsed: ' + (new Date().getMilliseconds() - tStart)
    )
  }
}

export default {
  data () {
    return {
      repeatGearRunLength: 0,
      modalEditShown: false,
      lstModalDisplayedMoves: [],
      beatAction: null, // 'edit', 'delete', 'deleteRest', 'insert'
      disableNudge: false, // if nudge repeats too fast, won't have time to save the results between
      // countdown alert
      showAlert: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      modePerRadios: 'callsMode',
      moveFilter: null,
      moveFields: [{key: 'name', label: 'Name'}, {key: 'length', label: 'Length'}, {key: 'delaycount', label: 'Delay'}, {key: 'comment', label: 'Comment'}],
      currentItem: null, // the beat being edited, if any (click on a beat)
      currentItemIndex: null, // the beat being edited, if any (click on a beat)
      currentItemCanInsertMove: false, // on click item, leave flag here in details method, if OK to add a move
      waveSurferOrig: null,
      meanGapImproved: 0,
      gearOptions: [
        { value: null, text: 'Please select an gear:' },
        { value: 'build', text: 'Build', style: {color: 'yellow ', backgroundColor: '#adb5bd '} }, //  | yellow outline-warning | yellow gray-500
        { value: 'normal', text: 'Normal', style: {color: '#343a40', backgroundColor: 'white'} }, //        | black outline-dark | dark,gray-800
        { value: 'montuno', text: 'Montuno', style: {color: '#6c757d ', backgroundColor: 'white'} }, //        | grey outline-secondary | gray-600
        { value: 'refresh', text: 'Refresh', style: {color: 'green', backgroundColor: 'white'} }, //        | red outline-success | green
        { value: 'exclamation', text: 'Exclamation', style: {color: 'teal', backgroundColor: 'white'} }, //        | red outline-success | teal
        { value: 'attack', text: 'Attack', style: {color: 'red', backgroundColor: 'white'} }, //        | red outline-danger
        { value: 'foto', text: 'Foto', style: {color: 'blue', backgroundColor: 'white'} } //           | blue outline-primary
      ]
    }
  },
  props: ['cardHeight', 'waveSurfer', 'waveIsLoaded', 'stateRecordingBeats', 'awaitingBeatsSave', 'showingBuyDialog', 'scrollMe'],
  watch: {
    meanGapImproved (newValue) {
      this.$emit('meanCalculated', newValue) // Songs needs to add Howler for this to move dictionary
    },
    modePerRadios (newValue) {
      this.$emit('changeMode', newValue) // Songs needs to add Howler for this to move dictionary
    },
    stateRecordingBeats (newValue) {
      // orig value is cached in subc, unless we watch
      return newValue
    },
    waveSurfer (newValue) {
      this.waveSurferOrig = newValue
    },
    lstTimesWork () {
      this.analyzeData(true) // calculation only
    }
  },
  created: function () {
    console.log('CREATED Measures:' + this.lstTimesWork.length)
  },
  activated: function () {
    document.addEventListener('keydown', this.keyDownHandler)
    // see https://laracasts.com/discuss/channels/vue/how-to-add-atkeyup-globally-with-vue?page=1 -->
    console.log('MOUNTED Measures')
  },
  deactivated: function () {
    console.log('Deactivated Measures')
    document.removeEventListener('keydown', this.keyDownHandler)
  },
  updated: function () {
    console.log('UPDATED Measures')
  },
  computed: {
    RMEFolder () {
      return this.$store.state.settingsStore.settings.RMEFolder
    },
    mode: {
      get: function () {
        if (this.$store.state.settingsStore.settings.userType === '1') {
          return 'callsMode'
        } else {
          return this.modePerRadios
        }
      }
    },
    lstSeqOrig () {
      return this.$store.state.beatsAndSequenceStore.originalSeq
    },
    lstSeqEdited () {
      return this.$store.state.beatsAndSequenceStore.editedSeq
    },
    moves: {
      get () {
        return this.$store.state.movesStore.editedMoves.map(item => {
          let rec = {name: item.$.name, length: item.$.length, delaycount: item.$.delaycount, comment: item.comment[0]}
          return rec
        })
      }
    },
    MP3FileName () {
      return this.$store.state.beatsAndSequenceStore.MP3FileName
    },
    MP3FileNameMd5Actual () {
      return this.$store.state.beatsAndSequenceStore.MP3FileNameMd5Actual
    },
    MP3URL () {
      return this.$store.state.beatsAndSequenceStore.MP3URL
    },
    lstTimesWork () { // this is the working copy of the beats
      return this.$store.state.beatsAndSequenceStore.lstTimesWork
    },
    lstTimesOrig () { // this is the working copy of the beats
      return this.$store.state.beatsAndSequenceStore.lstTimesOrig
    }
  },
  methods: {
    callsModeTooltipInMargins () {
      if (this.mode === 'callsMode') return 'try: click between buttons; rt/left arrow; space bar'
    },
    clickListItem (event) {
      if (event.target.id) {
        console.log('list item clicked, id: ' + event.target.id)
        let tgt = event.target
        let idx = parseInt(tgt.id.substring(4)) // trim 'beat' off id
        if (event.offsetX < (tgt.clientWidth / 2)) idx--
        if (idx < 0) idx = 0
        if (this.lstTimesWork[idx]) {
          let here = this.lstTimesWork[idx].time
          this.$emit('playSong', false, null, here) // Songs.vue plays the song
        }
      }
    },
    deleteAllCalls () {
      this.$bvModal.msgBoxConfirm('Are you sure?', {title: 'Delete ALL CALLS for this song?'})
        .then(resp => {
          if (resp) {
            this.$store.commit('DELETE_ALL_CALLS')
            this.subSaveSeq()
            this.$bvToast.toast('All beats deleted!', {
              title: 'Beats deleted',
              autoHideDelay: 4000
            })
          }
        })
    },
    setFocus () {
      if (this.mode === 'callsMode') {
        this.$refs.filterInput.focus()
      } else if (this.mode === 'gearMode') {
        this.$refs.gearSelect.focus()
      } else if (this.mode === 'timeMode') {
        this.$refs.newTimeInput.focus()
      }
    },
    nudgeCallsUp () {
      this.$store.commit('NUDGE_ALL_CALLS', {count: 1})
      this.subSaveSeq()
      this.disableNudge = true
      setTimeout(() => {
        this.disableNudge = false
      }, 300)
    },
    nudgeCallsDown () {
      this.$store.commit('NUDGE_ALL_CALLS', {count: -1})
      this.subSaveSeq()
      this.disableNudge = true
      setTimeout(() => {
        this.disableNudge = false
      }, 300)
    },
    nudgeBeatsUp () {
      let nudge = this.meanGapImproved / 32
      this.$store.commit('NUDGE_ALL_BEATS', nudge)
      this.subSaveBeats()
      this.disableNudge = true
      setTimeout(() => {
        this.disableNudge = false
      }, 300)
    },
    nudgeBeatsDown () {
      let nudge = this.meanGapImproved / 32
      if (this.lstTimesWork[0].time > nudge) {
        this.$store.commit('NUDGE_ALL_BEATS', -nudge)
        this.subSaveBeats()
        this.disableNudge = true
        setTimeout(() => {
          this.disableNudge = false
        }, 300)
      }
    },
    getItemTitle (item, index) {
      let sTitle = ''
      sTitle += 'Beat: ' + (item.comment || '(no comment)') + ' [gear=' + item.gear + ']'
      if (this.lstSeqEdited[index]) {
        let fullMove = this.$store.getters.getMoveByNameObj({$: {name: this.lstSeqEdited[index].$.name}})
        sTitle += '\r\nMove: ' + (fullMove.comment || 'no comment') + ' [delay=' + (fullMove.$.delaycount || 0) + ']'
      } else {
      }
      return sTitle
    },
    isExtension (item, index) {
      return this.lstSeqEdited && (this.lstSeqEdited[index] ? this.lstSeqEdited[index].$.length === 0 : false)
    },
    getModalTitle () {
      if (this.mode === 'timeMode') {
        return 'Beat in seconds since start'
      } else if (this.mode === 'gearMode') {
        return 'Other beat info: gear, comment'
      } else if (this.mode === 'callsMode') {
        return 'Move'
      }
    },
    subSaveSeq () {
      // FIXME: put in a username so we know if somebody can't find the beat -)
      let authorId = this.$store.state.settingsStore.settings.authorId
      let schemeDate = this.$store.state.movesStore.schemeDate
      let schemeProvider = this.$store.state.movesStore.schemeProvider
      let schemeName = this.$store.state.movesStore.schemeName
      this.$store.commit('SAVE_SEQ', {
        // construct asWhat parameter, each "type" is handled appropriately by DiscDataHelper
        type: 'sequence',
        filename: this.MP3FileName,
        md5: this.MP3FileNameMd5Actual,
        lstSeq: this.lstSeqEdited,
        RMEFolder: this.RMEFolder,
        schemeName: schemeName,
        schemeProvider: schemeProvider,
        schemeDate: schemeDate,
        authorId: authorId,
        authorDate: new Date().toISOString()
      })
    },
    deleteThisMove () {
      this.$store.commit('DELETE_THIS_SEQ_MOVE', {index: this.currentItemIndex, lstTimes: this.lstTimesWork})
      this.subSaveSeq()
    },
    displayMove (item, index) {
      if (!this.lstSeqEdited || !this.lstSeqEdited[index]) {
        return '-'
      } else {
        return (this.lstSeqEdited[index].$.name) || '-'
      }
    },
    onModalRowClicked (item, index) {
      // movePicker dialog row was clicked
      // first dry run to check for conflicts...
      for (var k = 1; k < item.length; k++) {
        if (this.currentItemIndex + k < this.lstSeqEdited.length) {
          if (this.lstSeqEdited[this.currentItemIndex + k]) {
            // oops no vacancy!
            this.$refs.modalConflict.show()
            return
          }
        }
      }
      let fullMove = this.$store.getters.getMoveByNameObj({$: {name: item.name}})
      this.$emit('add-seq-move', item.name) // Songs needs to add Howler for this to move dictionary
      this.$store.commit('ADD_THIS_SEQ_MOVE', {index: this.currentItemIndex, item: _cloneDeep(fullMove), maxBeat: this.lstTimesWork.length})
      this.$refs.modalEdit.hide()
      this.moveFilter = null

      this.subSaveSeq()
    },
    calcVariant (item) {
      if (item.gear === 'normal') {
        return 'outline-dark'
      } else if (item.gear === 'montuno') {
        return 'outline-secondary'
      } else if (item.gear === 'attack') {
        return 'outline-danger'
      } else if (item.gear === 'refresh') {
        return 'outline-success'
      } else if (item.gear === 'exclamation') {
        return 'outline-info'
      } else if (item.gear === 'build') {
        return 'outline-warning'
      } else if (item.gear === 'foto') {
        return 'outline-primary'
      }
    },
    analyzeData (bCalcOnly, bFileAnalyzedWasPreexisting) {
      analyzeDataImpl.call(this, bCalcOnly, bFileAnalyzedWasPreexisting)
    },
    keyDownHandler (event) {
      let kcLeft = 37
      let kcRight = 39
      let kcDown = 40
      let kcEsc = 27
      let kcSpace = 32
      let kcEnter = 13
      let kcF4 = 115
      /* eslint-enable no-unused-vars */
      if (!this.stateRecordingBeats && !this.awaitingBeatsSave && !this.modalEditShown && !this.showingBuyDialog) {
        if (event.keyCode === kcSpace) {
          let posn = this.waveSurferOrig.getCurrentTime()
          if (this.waveSurferOrig.isPlaying()) {
            this.waveSurferOrig.playPause()
          } else {
            this.$emit('playSong', false, null, posn) // Songs.vue plays the song
          }
          event.preventDefault()
        } else if (event.keyCode === kcRight) {
          let currTime = this.waveSurferOrig.getCurrentTime()
          let duration = this.waveSurferOrig.getDuration()
          let currProgress = currTime / duration

          let step = 2 * this.meanGapImproved / this.waveSurferOrig.getDuration()
          let toProgress = currProgress + step > 1 ? 1 : currProgress + step
          this.waveSurferOrig.seekTo(toProgress)
          console.log('right arrow')
          event.preventDefault()
        } else if (event.keyCode === kcLeft) {
          let currTime = this.waveSurferOrig.getCurrentTime()
          let duration = this.waveSurferOrig.getDuration()
          let currProgress = currTime / duration

          let step = 2 * this.meanGapImproved / this.waveSurferOrig.getDuration()
          let toProgress = currProgress - step < 0 ? 0 : currProgress - step
          this.waveSurferOrig.seekTo(toProgress)
          console.log('left arrow')
          event.preventDefault()
        }
      }
      if (this.mode === 'callsMode') {
        if (this.modalEditShown) {
          if (event.keyCode === kcDown) { // space key
            try {
              this.$refs.moveTable.$el.rows[1].focus()
            } catch (e) {
              console.log('can\'t focus first row, doesn\'t exist?')
            }
          } else if (event.keyCode === kcEnter) { // space key
            try {
              this.$refs.moveTable.$el.rows[1].focus()
            } catch (e) {
              console.log('can\'t focus first row, doesn\'t exist?')
            }
          }
        } else {
          if (!this.showingBuyDialog) {
            if (!event.keyCode === kcF4) event.preventDefault() // "space" "enter" can click a button or scroll, but alt-F4 needed to close
          }
        }
      } else if (this.stateRecordingBeats) {
        if (event.keyCode === kcSpace) { // space key
          event.preventDefault() // need default if we are entering a comment for example
          if (this.waveSurferOrig && this.waveSurferOrig.isPlaying()) {
            let timeCurr = this.waveSurferOrig.getCurrentTime()
            let time = new BeatTime(timeCurr)
            this.$store.commit('ADD_NEW_BEAT', time)
            // npm pkg scroll-into-view-if-necessary has a problem here, back to basics then:
            if (this.scrollMe) {
              this.$nextTick(() => document.getElementById('beat' + (this.lstTimesWork.length - 1)).scrollIntoView({ behavior: 'smooth', block: 'center' })) // smooth fails?
            }
            // immediate recurring analysis, only for first 16 beats
            // if (this.lstTimesWork.length <= 16) {
            //   this.analyzeData(true, this.lstTimesOrig)
            // }
          } else {
            // intended to remove boing: special highlight for currently playing beat
            this.$store.commit('SET_BEAT_WARNING', {ind: this.currentItemIndex, variant: 'secondary'})
          }
        }
      } else if (event.keyCode === kcEsc) { // escape key, close the simplert dialog
        // close is safe operation
        this.$refs.simplert.justCloseSimplert()
      }
      // console.log('key DOWN detected!' + Date.now() - this.playStartTime)
    },
    promptAndHandle (title, msg, confirmButtonText, confirmHandler, closeHandler, useConfirmBtn = true) {
      const obj = {
        // useIcon: true,
        isShown: true,
        title: title,
        message: msg,
        type: 'warning',
        useConfirmBtn: useConfirmBtn,
        customConfirmBtnText: confirmButtonText,
        onConfirm: confirmHandler || this.nullSrtHandler,
        onClose: closeHandler || this.nullSrtHandler
      }
      this.$refs.simplert.openSimplert(obj)
    },
    nullSrtHandler () {
      console.log('Null simplert handler called')
    },
    toggleShowBeatsUsage (value) {
      this.$store.dispatch('toggleShowBeatsUsage', value)
    },
    autoFix () {
      this.analyzeData(false, !!this.lstTimesOrig)
    },
    onBeatAction (choice) {
      // when there was a single poss action on a beat click, we just called this.details()
      // now you can do several actions on beats, this is "pre-details" setup
      // choice: 'edit', 'delete', 'deleteRest', 'insert'
      this.beatAction = choice
      this.details(this.currentItemIndex)
      this.$refs.modalBeatAction.hide()
    },
    details (index) {
      // currentItemCanInsertMove
      this.currentItem = _cloneDeep(this.lstTimesWork[index])
      this.$set(this.currentItem, 'boing', false) // this is a clone, so we don't need to do this in VUEX.
      // but still we save this item later... so ensure it doesn't get saved with the boing TRUE (highlight)
      this.currentItemIndex = index
      this.currentItemBeforeEdit = this.CurrentItem // overwrite will save it, but just to the working buffer
      this.$nextTick(function () {
        if (this.mode === 'callsMode') {
          this.moveFilter = null
          // check that we are not on a continuation measure
          // and if we are, we only warn the user, no action
          if (this.lstSeqEdited[index] && this.lstSeqEdited[index].$.length === 0) {
            this.$refs.modalNoMoveHere.show()
            return
          } else if (this.lstSeqEdited[index] && this.lstSeqEdited[index].$.length > 0) {
            this.$refs.modalConfirmDelete.show()
            return
          }
        } else if (this.mode === 'timeMode') {
          if (this.beatAction) {
            if (this.beatAction === 'edit') {
              this.beatAction = null // restore the default state
              // pass through - no return stmt - as this is the default
            } else if (this.beatAction === 'delete') {
              let options = {title: 'Delete the current beat?'}
              this.$bvModal.msgBoxConfirm('Are you sure?', options)
                .then(resp => {
                  if (resp) {
                    this.$store.commit('DELETE_ONE_BEAT', this.currentItemIndex)
                    this.subSaveBeats()
                    this.$bvToast.toast('Beat deleted!  Fix call sequence if needed!', {
                      title: 'Beat has been deleted',
                      autoHideDelay: 4000
                    })
                  }
                })
              this.beatAction = null // restore the default state
              return // all beatActions
            } else if (this.beatAction === 'deleteRest') {
              let options = {title: 'Delete remaining beats?'}
              this.$bvModal.msgBoxConfirm('Are you sure you want to delete this beat, and all following beats?', options)
                .then(resp => {
                  if (resp) {
                    this.$store.commit('DELETE_BEATS_AFTER', this.currentItemIndex)
                    this.subSaveBeats()
                    this.$bvToast.toast('Beats deleted!', {
                      title: 'Beats have been deleted.  Fix call sequence if needed!',
                      autoHideDelay: 4000
                    })
                  }
                })
              this.beatAction = null // restore the default state
              return // all beatActions
            } else if (this.beatAction === 'insert') {
              let options = {title: 'Insert beat beat before?'}
              this.$bvModal.msgBoxConfirm('Are you sure you want to insert a beat between this beat and any previous one?', options)
                .then(resp => {
                  if (resp) {
                    // should insert a beat half-way back to previous beat
                    this.$store.commit('INSERT_BEAT_BEFORE', {index: this.currentItemIndex, mean: this.meanGapImproved})
                    this.subSaveBeats()
                    this.$bvToast.toast('Beat inserted!', {
                      title: 'Beat has been inserted.  Fix call sequence if needed!',
                      autoHideDelay: 4000
                    })
                  }
                })
              this.beatAction = null // restore the default state
              return // all beatActions
            }
          } else {
            // first time in beats, no beatAction: so we fall through come here, and set beatAction
            this.$refs.modalBeatAction.show()
            return
          }
        }
        this.$refs.modalEdit.show()
      })
    },
    cancelEdit () {
      console.log('cancelEdit')
      this.currentItem = null
    },
    saveEdit () {
      console.log('running saveEdit')
      // other modes handled directly by v-model reference
      if (this.mode === 'callsMode') {
        // no action: new calls come from moves dialog, rowClicked event
      } else if (this.mode === 'timeMode' || this.mode === 'gearMode') {
        this.$store.commit('ADJUST_BEAT_TIME', {ind: this.currentItemIndex, time: this.currentItem})
        // except for callsMode... just save anything we change right away
        this.subSaveBeats(this.lstTimesWork)
      }
      this.currentItem = null
    },
    subSaveBeats (beatsToSave) {
      let authorId = this.$store.state.settingsStore.settings.authorId
      let payload = {
        type: 'beats',
        filename: this.MP3FileName,
        MP3URL: this.MP3URL,
        md5: this.MP3FileNameMd5Actual,
        lstTimes: beatsToSave || this.lstTimesWork,
        date: new Date().toISOString(),
        RMEfolder: this.RMEFolder,
        authorId: authorId
      }
      this.$store.commit('SAVE_BEATS', payload)
    },
    removeDlgAlerts () {
      // alerts that are displayed in the beat edit dialog
      this.showAlert = false
    },
    alertCountingDown (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
      if (this.dismissCountDown === 0) {
        this.$emit('playSong', true) // Songs.vue plays the song
      }
    },
    startNewBeatsCountdown () {
      this.$refs.btnRecordNew.blur() // seems not always needed to ensure the "document" captures keydown
      this.dismissCountDown = this.dismissSecs
      if (this.waveSurferOrig.isPlaying()) {
        this.waveSurferOrig.stop()
      }
    }
  }
}
</script>

<style scoped>
button {
  transition: all 1s ease 0s;
}

/* when colors used in vscode, the color picker does not work in script tag... only in css 
    so use multiline cursor to format/reformat colors from javascript to css and back again */
/*  to reformat to css and back: get colors on separate lines, use multiline cursor to format as 'background:' attributes for css
     when done, to reformat to code: replace \n (regex) with comma, etc. */
justtesting {
  background: #cb1c1c;
}

/* boing is animation, used to show the current beat, while the music is played */
button.boing {
  background: #cf4647;
  border-bottom-color: #cf4647;
  border-top-color: #cf4647;
  border-left-color: #cf4647;
  border-right-color: #cf4647;
}

/* horizontal order, beat instances */
li {
  display: block;
  width: 12.5%;
  float: left;
  margin: -6px 0;
}

.notextensionbeat{
  font-size:16px;
  line-height:14px;
}

.extensionbeat {
  font-style: italic;
  font-size: x-small;
  font-weight: lighter;
}

*:not(li) {
  box-sizing: border-box;
  margin: 10px;
  padding: 0px;
}
</style>