<template>
  <div>
    <simplert :useRadius="true" :useIcon="true" ref="simplert"/>
    <div>
      <div class="title">RuedaMatic Data</div>
      <div class="items">
        <div class="item">
          <div class="name">Current Scheme:</div>
          <div class="value">{{ GUIfyCurrentScheme }}</div>
        </div>
        <div class="item">
          <div class="name">Number of Moves:</div>
          <div class="value">{{ numberOfMoves }}</div>
        </div>
        <div class="item">
          <div class="name">Moves without a valid call:</div>
          <div class="value">{{ movesNoCall }}</div>
        </div>
        <div class="item">
          <div class="name">Number of Calls:</div>
          <div class="value">{{ numberOfCalls }}</div>
        </div>
        <div class="item">
          <div class="name">Calls not Added to Moves:</div>
          <div class="value">{{ callsNotUsed }}</div>
        </div>
        <div class="item">
          <div class="name">Author ID:</div>
          <span><span class="value">{{ authorId }} </span><span>  <b-button size="sm" class="alt" @click="$refs.getAuthor.show()"> Change</b-button></span></span>
        </div>
      </div>
      <div class="title">System Info</div>
      <div class="items">
        <div class="item">
          <div class="name">RuedaMatic version:</div>
          <div class="value">{{ ruedamaticversion }}</div>
        </div>
        <div class="item">
          <div class="name">BootstrapVue.js:</div>
          <div class="value">{{ bootstrapVue }}</div>
        </div>
        <div class="item">
          <div class="name">Vue.js:</div>
          <div class="value">{{ vue }}</div>
        </div>
        <div class="item">
          <div class="name">Electron:</div>
          <div class="value">{{ electron }}</div>
        </div>
        <div class="item">
          <div class="name">Node:</div>
          <div class="value">{{ node }}</div>
        </div>
        <div class="item">
          <div class="name">Platform:</div>
          <div class="value">{{ platform }}</div>
        </div>
      </div>
    </div>

    <b-container v-if="administrator">
      <b-card text-variant="warning" bg-variant="danger">
        <div>ADMIN ONLY: LAST LOOK, 
          <div>Latest android debug apk is created?</div>
          <div>Latest RME Setup is created?</div>
          <div>If new version RME: did old one get deleted?</div>
          <div>Think twice about contents of scheme-* folders.</div>
        </div>              
        <b-button title="find test relics and garbage bef. pkging" @click="checkForBadFiles">Ck-bad files</b-button>
        <b-button title="put the programs and data in Vuepress Public for publishing" @click="bundleDataForVuepress">Pkg->VPress</b-button>
        <b-button title="after testing, restore state" @click="restoreAfterTest">Restore</b-button>

      </b-card>
    </b-container>

    <b-modal ref="getAuthor" title="Try to be unique!" @ok="saveAuthor" @shown="$refs.authorID.focus()">
      <p>Author ID is saved in files you work on.</p>
      <b-form-fieldset title="Author ID saved in files you work on." horizontal label="New Author ID: ">
        <b-form-input v-model="workingAuthorID" ref="authorID"/>
      </b-form-fieldset>
    </b-modal>
  </div>
</template>

<script>
import fs from 'fs-extra'
import klawSync from 'klaw-sync' // file system walker
import electron from 'electron'
import path from 'path'
import archiver from 'archiver'

const HOMEDIR = electron.remote.app.getPath('home')
const DOCDIR = electron.remote.app.getPath('documents')
/* eslint-disable no-unused-vars */
const MUSICDIR = electron.remote.app.getPath('music')
const RMDIR = DOCDIR + '/RuedaMaticEditor'

export default {
  data () {
    return {
      workingAuthorID: this.$store.state.settingsStore.settings.authorId // initial value
    }
  },
  computed: {
    GUIfyCurrentScheme () {
      return this.$store.state.settingsStore.settings.RMEFolder.substring(7)
    },
    administrator () {
      return this.$store.state.settingsStore.settings.administrator
    },
    authorId () {
      return this.$store.state.settingsStore.settings.authorId
    },
    ruedamaticversion () {
      return this.$store.state.settingsStore.version
    },
    electron () {
      return process.versions['atom-shell']
    },
    node () {
      return process.versions.node
    },
    platform () {
      return require('os').platform()
    },
    bootstrapVue () {
      return require('bootstrap-vue/package.json').version
    },
    vue () {
      return require('vue/package.json').version
    },
    callsNotUsed () {
      try {
        return this.$store.getters.getCallsNotUsedDisplay
      } catch (e) {
        return 'no scheme'
      }
    },
    movesNoCall () {
      return this.$store.getters.getMovesNoCallDisplay
    },
    numberOfMoves () {
      try {
        return this.$store.state.movesStore.originalMoves.length
      } catch (e) {
        return 'no scheme'
      }
    },
    numberOfCalls () {
      try {
        return this.$store.state.movesStore.originalCalls.length
      } catch (e) {
        return 'no scheme'
      }
    }
    // might need:
    // moves not used in any sequence
    // list of sequences
  },
  methods: {
    saveAuthor () {
      console.log('saveAuthor')
      this.$store.commit('CHANGE_AUTHORID', this.workingAuthorID)
    },
    restoreAfterTest () {
      // sample beats file
      // fs.copySync(path.join(RMDIR, 'compases_para_canciones', 'RM Sample - Copy.xml'),
      //   path.join(RMDIR, 'compases_para_canciones', 'RM Sample.xml'), {overwrite: true})
      // sample calls file
      fs.copySync(path.join(RMDIR, 'scheme_rueda_normal_basica', 'secuencias_para_canciones', 'RM Sample - Copy.seq'),
        path.join(RMDIR, 'scheme_rueda_normal_basica', 'secuencias_para_canciones', 'RM Sample.seq'), {overwrite: true})
    },
    checkForBadFiles () {
      // TODO: sanity check for all the data files used in setup
      // check for INVALID GEARS
      // path.extname('index.html');
      // // Returns: '.html'
      // const paths = klawSync('/some/dir', filterfn)
      // // paths = [{path: '/some/dir/dir1', stats: {}}, {path: '/some/dir/file1', stats: {}}]
      // Stats {
      //   dev: 2114,
      //   ino: 48064969,
      //   mode: 33188,
      //   nlink: 1,
      //   uid: 85,
      //   gid: 100,
      //   rdev: 0,
      //   size: 527,
      //   blksize: 4096,
      //   blocks: 8,
      //   atimeMs: 1318289051000.1,
      //   mtimeMs: 1318289051000.1,
      //   ctimeMs: 1318289051000.1,
      //   birthtimeMs: 1318289051000.1,
      //   atime: Mon, 10 Oct 2011 23:24:11 GMT,
      //   mtime: Mon, 10 Oct 2011 23:24:11 GMT,
      //   ctime: Mon, 10 Oct 2011 23:24:11 GMT,
      //   birthtime: Mon, 10 Oct 2011 23:24:11 GMT }
      // check all pkg folders for '- Copy' in name
      let tinyFiles = []
      tinyFiles.push(klawSync(path.join(RMDIR, 'compases_para_canciones'), {filter: item => {
        console.log(item.stats.size)
        return item.stats.size < 2000
      }}))
      path.join(RMDIR, 'scheme_rueda_normal_basica')
      let filterFn = item => {
        const basename = path.basename(item.path)
        // base name hardcoded here
        return basename.indexOf('scheme_') === 0
      }
      let rmeFolders = klawSync(RMDIR, {nofile: true, filter: filterFn})
      let installedSchemes = rmeFolders.map(item => path.basename(item.path))
      installedSchemes.forEach(sch => {
        // file scheme_rueda_structures.scheme
        path.join(RMDIR, sch, 'scheme_rueda_structures.scheme')
        path.join(RMDIR, sch, 'secuencias_para_canciones')
        path.join(RMDIR, sch, 'vueltas') // need move.xml, mp3 files
      })
      // delete non current setups for RME windows prog
      // check all pkg folders for 0 length files
      // ensure setup is recent (15 minutes?)
    },
    // button visible only for administrator in settings file
    bundleDataForVuepress () {
      // admzip examples https://npmdoc.github.io/node-npmdoc-adm-zip/build/apidoc.html
      // admzip home https://github.com/cthackers/adm-zip
      // folder-hash https://github.com/marc136/node-folder-hash
      // TODO: to catch new schemes: loop thru folders and do this, with a special handling of normal_basica
      //    and add rebuild of rme_available.json, rme_basic.json in vuepress public too!
      //    AND zip the current version Setup and put in vuepress public
      //    AND copy the latest Android debug apk to vuepress public

      function configArchive (zip) {
        var archive = archiver('zip', { zlib: { level: 9 } }) // Sets the compression level.
        // listen for all archive data to be written
        // 'close' event is fired only when a file descriptor is involved
        zip.on('close', function () {
          console.log(archive.pointer() + ' total bytes')
          console.log('finalized, descriptor closed: ' + zip.path)
        })
        // This event is fired when the data source is drained no matter what was the data source.
        // It is not part of this library but rather from the NodeJS Stream API.
        // @see: https://nodejs.org/api/stream.html#stream_event_end
        zip.on('end', function () { console.log('Data has been drained') })
        // good practice to catch warnings (ie stat failures and other non-blocking errors)
        archive.on('warning', function (err) { if (err.code === 'ENOENT') { console.log('ENOENT error') } else { throw err } })
        // good practice to catch this error explicitly
        archive.on('error', function (err) { throw err })
        archive.pipe(zip) // pipe archive data to the file
        return archive
      }

      const DOCDIR = electron.remote.app.getPath('documents')
      const RMDIR = DOCDIR + '/RuedaMaticEditor'

      let filterFn = item => {
        const basename = path.basename(item.path)
        // base name hardcoded here
        return basename.indexOf('scheme_') === 0
      }
      let rmeFolders = klawSync(RMDIR, {nofile: true, filter: filterFn})
      let installedSchemes = rmeFolders.map(item => path.basename(item.path))

      // /////////////////////////
      // NOW here's the work:
      // /////////////////////////

      let vpPub = path.join(HOMEDIR, 'Development', 'VuePress', 'ruedamatic', 'docs', '.vuepress', 'public')

      // BEATS - all files in folder
      try {
        let output = fs.createWriteStream(path.join(vpPub, 'schemesAndBeats', 'compases_para_canciones.zip'))
        let archive = configArchive(output)
        archive.directory(path.join(RMDIR, 'compases_para_canciones'), 'compases_para_canciones')
        archive.finalize()
      } catch (e) {
        console.log('error in zip config or operation: ' + e)
      }

      // Sample music : 'RM Sample.mp3'
      try {
        let output = fs.createWriteStream(path.join(vpPub, 'schemesAndBeats', 'RM_Sample.zip'))
        let archive = configArchive(output)
        archive.glob(path.join('Music', 'RM Sample.mp3'), {cwd: HOMEDIR})
        archive.finalize()
      } catch (e) {
        console.log('error in zip config or operation: ' + e)
      }

      // Sample music : '05 - Sandunguera [Manolito Simonet y su Trabuco-No puedo parar].mp3'
      try {
        let output = fs.createWriteStream(path.join(vpPub, 'schemesAndBeats', '05 - Sandunguera [Manolito Simonet y su Trabuco-No puedo parar].zip'))
        let archive = configArchive(output)
        archive.glob(path.join('Music', '05 - Sandunguera [Manolito Simonet y su Trabuco-No puedo parar].mp3'), {cwd: HOMEDIR})
        archive.finalize()
      } catch (e) {
        console.log('error in zip config or operation: ' + e)
      }

      // ALL schemes
      installedSchemes.forEach(sch => {
        try {
          let output = fs.createWriteStream(path.join(vpPub, 'schemesAndBeats', sch + '.zip'))
          let archive = configArchive(output)
          archive.directory(path.join(RMDIR, sch), sch)
          archive.directory(path.join(RMDIR, 'compases_para_canciones'), 'compases_para_canciones')
          archive.finalize()
        } catch (e) {
          console.log('error in zip config or operation: ' + e)
        }
      })

      // RME setup
      // 1. does the current version of RME have a compiled EXE in place?
      let version = this.$store.state.settingsStore.version
      let rmInstallBaseName = path.join(HOMEDIR, 'Development', 'ruedamatic-editor', 'build', 'ruedamatic-editor Setup ' + version)
      let isRMECompiled = true
      if (fs.pathExistsSync(rmInstallBaseName + '.exe')) {
        try {
          let output = fs.createWriteStream(path.join(vpPub, path.basename(rmInstallBaseName) + '.zip'))
          let archive = configArchive(output)
          archive.glob(path.basename(rmInstallBaseName) + '.exe', {cwd: path.join(HOMEDIR, 'Development', 'ruedamatic-editor', 'build')})
          archive.finalize()
        } catch (e) {
          console.log('error in zip config or operation: ' + e)
        }
      } else {
        isRMECompiled = false
      }

      // is there a RM Android apk in situ?
      let rmAPKName = path.join(HOMEDIR, 'Development', 'AndroidStudio', 'RuedaMatic', 'build', 'outputs', 'apk', 'debug', 'RuedaMatic-debug.apk')
      if (fs.pathExistsSync(rmAPKName)) {
        let rmAPKDest = path.join(vpPub, 'RuedaMatic-debug.apk')
        fs.copySync(rmAPKName, rmAPKDest)
        console.log('APK file is copied to build')
      }

      // tell boss we're done
      let obj = {
        title: 'Async tasks are running',
        message: isRMECompiled ? '' : 'But no RME Setup for v' + version, // string -- message alert
        type: 'success', // string -- type : info (default), success, warning, error
        customCloseBtnText: 'OK', // string -- close button text
        onClose: null, // function -- when close triggered
        useConfirmBtn: false, // boolean -- using confirm button
        onConfirm: null,
        customConfirmBtnText: 'DONE' // string -- confirm button text
        // showXclose: false //boolean -- show x close button
      }
      this.$refs.simplert.openSimplert(obj)
    }
  }
}
</script>

<style scoped>
    .title {
        color: #8b0000;
        font-size: 18px;
        font-weight: initial;
        letter-spacing: .25px;
        margin-top: 10px;
    }

    .items {
        margin-top: 8px;
    }

    .item {
        display: flex;
        margin-bottom: 6px;
    }

    .item .name {
        color: #6a6a6a;
        margin-right: 6px;
    }

    .item .value {
        color: #35495e;
        font-weight: bold;
    }
</style>
