 /* 
done - gears, add name - FOTO (clave switch)
done - save on every change: (not: save logic: detect if user changes Beats (incl URL) or Seq - then prompt to save on attempt to exit or change scheme)
done - nudge -/+ by 1/4 of a pulse
done: separate RM Sample from basica
done: rationalize buttons on Get Scheme
done: shorten the scheme name, exclude the "scheme_" prefix
done: BUG: play song, change scheme. wave is empty, grid is empty - But song and calls will play weirdly

RFC - save logic: do we need a backup of any kind?
RFC - SimpleRT vs bootstrap modals?

TODO: add "get program update" to Landing page
TODO: scheme management page, list, show desc, allow rename and delete
TODO: SEQ management page, list, show desc, allow rename and delete (if there are multiple seq for same song)
TODO: (folder-hash) Has a scheme been customized?  move to [scheme]_rc_2019_07_22_hh SEQ_upgrade management + lose the warning about overwrite 
TODO: (folder-hash)has a DL'd SEQ been customized? move to [song]_rc_2019_07_22_hh multiple SEQ files + lose the warning about overwrite
TODO: beats: allow delete from here, continue recording from here
TODO - mail.zip, give the path on clipboard, paste in users email prog

TODO - docs, short movies
TODO - some visibility when there are calls after the end of the beats provided

Android APK issues
TODO - APK can't scrub timeline?
TODO - APK volume adj?
*/
<template>
  <div class="h-100">
    <!-- rule is in eslint-plugin-vue: html-self-closing -->
    <b-navbar
      toggleable="lg"
      type="dark"
      variant="info">

      <b-navbar-brand
        href="#">
        <span>RuedaMatic</span>
      </b-navbar-brand>

      <b-collapse id="nav_collapse" is-nav>

        <b-navbar-nav>
          <b-nav-item :active="activeTab==='Dashboard'" @click="activeTab='Dashboard';navToLanding()" ><strong>Dashboard</strong></b-nav-item>
          <b-nav-item :active="activeTab==='Moves'" @click="activeTab='Moves';navToMoves()"
              v-show="$store.state.settingsStore.settings.userType === '2'" ><strong>Moves</strong></b-nav-item>
          <b-nav-item :active="activeTab==='Songs'" @click="activeTab='Songs';navToSongs()"><strong>Songs</strong></b-nav-item>
          <b-nav-item :active="activeTab==='To Android'" @click="activeTab='To Android';navToAndroid()"><strong>To Android</strong></b-nav-item>
          <b-nav-item :active="activeTab==='Get Data'" @click="activeTab='Get Data';navToGetData()"><strong>Get Data</strong></b-nav-item>
          <b-nav-item :active="activeTab==='Get Music'" @click="activeTab='Get Music';navToGetMusic()"><strong>Get Music</strong></b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav
          class="ml-auto">
          <!-- Navbar dropdowns -->
            <b-nav-item-dropdown
              id="scheme-dd"
              title="Scheme to use (drop prefix scheme_)"
              :text="GUIfyCurrentScheme"
              right>
              <b-dropdown-item v-for="scheme in GUIfiedSchemes" :key="scheme" @click="clickScheme(scheme)" :active="scheme===GUIfyCurrentScheme">
                {{scheme}}
              </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown
            id="lang-dd"
            title="Choose language (Moves tab only!)"
            text="Lang"
            right>
            <b-dropdown-item
              to="#"
              @click="clickLang" :active="$i18n.locale==='en'">en</b-dropdown-item>
            <b-dropdown-item
              to="#"
              @click="clickLang" :active="$i18n.locale==='fr'">fr</b-dropdown-item>
            <b-dropdown-item
              to="#"
              @click="clickLang" :active="$i18n.locale==='es'">es</b-dropdown-item>
            <b-dropdown-item
              to="#"
              @click="clickLang" :active="$i18n.locale==='it'">it</b-dropdown-item>
            <b-dropdown-item
              to="#"
              @click="clickLang" :active="$i18n.locale==='ru'">ru</b-dropdown-item>
            <b-dropdown-item
              to="#"
              @click="clickLang" :active="$i18n.locale==='uk'">uk</b-dropdown-item>
            <b-dropdown-item
              to="#"
              @click="clickLang" :active="$i18n.locale==='zh-CN'">zh-CN</b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown id="user-dd" right v-model="userType" title="Normally Caller, or Wizard to work on beats/schemes">
            <!-- Using button-content slot -->
            <template slot="button-content">
              <span style="font-weight: bold;">User</span>
            </template>

            <b-dropdown-item id="1" @click="onClickUser" :active="userType==='1'">Caller</b-dropdown-item>
            <b-dropdown-item id="2" @click="onClickUser" :active="userType==='2'">Wizard</b-dropdown-item>
          </b-nav-item-dropdown>

        </b-navbar-nav>

      </b-collapse>

    </b-navbar>
    <b-modal title="Danger!" ref="wizardWarning" ok-only>
      <p class="my-4">Song sequences depend on valid beats and scheme data.</p>   
      <p>Normally, users should choose Caller.</p>   
      <p>Invalid changes to Wizard data can make Sequences unplayable!</p>
    </b-modal>
    <b-modal title="New schemes installed" ref="newSchemesInstalled" ok-only>
      <p class="my-4">You can select to use new schemes, using the dropdown menu.</p>   
      <p class="my-4" ><strong>IF YOU ARE NEW: READ THIS!</strong></p>   
      <p class="my-4">"RM_Sample" music will be installed in your music folder.</p>   
      <p class="my-4">Give it a minute... when it's installed, go to the "Songs" tab... click "Choose music file"... and play "RM Sample.mp3".</p>   
      <p class="my-4">You will see a full working example you can play with.</p>   
    </b-modal>
 
    <!-- busyModal can be displayed and hidden via flag: store.state.movesStore.showBusy -->
    <b-modal title="Please wait a moment while we get that for you..." v-model="bBusy" ref="busyModal">
      <div>
        <pulse-loader color="red" style="height: 64px;display: flex;align-items: center;justify-content: center" />
      </div> 
        <!-- dummy slot use to stop buttons showing -->
        <div slot="modal-footer" class="w-100"> 
      </div>
    </b-modal>
    <!-- routed page change uses an animation; also keep-alive is set on all tabs here -->
    <transition
      name="slide"
      mode="out-in">
      <keep-alive>
        <router-view/>
      </keep-alive>
    </transition>
  </div>
</template>

<script>
import klawSync from 'klaw-sync' // file system walker
import path from 'path'
import electron from 'electron'
import fs from 'fs-extra'
// import discDataHelper from './store/shared/DiscDataHelper'

const DOCDIR = electron.remote.app.getPath('documents')
const RMDIR = DOCDIR + '/RuedaMaticEditor'
export default {
  name: 'RuedamaticEditor', // default name hardcoded here
  data () {
    return {
      activeTab: 'Dashboard',
      pendingFolderChange: ''
    }
  },
  mounted: function () {
    // hate to get that dragging image when all you want is to click
    var links = document.getElementsByClassName('nav-link')
    // this hyperefficient version (from stack overflow) is TOO ARCANE!
    // for (var i = links.length; i--; links[i]['draggable'] = false) {}
    // ... so this is better
    for (var i = links.length - 1; i >= 0; i--) {
      links[i]['draggable'] = false
    }
    this.updateInstalledSchemes()
  },
  computed: {
    userType () {
      return this.$store.state.settingsStore.settings.userType
    },
    bBusy () {
      return this.$store.state.movesStore.showBusy
    },
    RMEFolder () {
      return this.$store.state.settingsStore.settings.RMEFolder
    },
    GUIfyCurrentScheme () {
      return this.RMEFolder.substring(7)
    },
    GUIfiedSchemes () {
      return this.showSchemes.map((item) => { return item.substring(7) })
    },
    showSchemes () {
      let schemes = this.$store.state.movesStore.installedSchemes
      if (schemes.length > 0) {
        return schemes
      } else {
        return ['No schemes installed!']
      }
    },
    bUpdateInstalledSchemes () {
      return this.$store.state.movesStore.bUpdateInstalledSchemes
    }
  },
  watch: {
    bUpdateInstalledSchemes (val) {
      this.$store.commit('UNSET_BUSY_NOTICE')
      this.$store.commit('UPDATE_INSTALLED_SCHEMES_FLAG', false)
      this.updateInstalledSchemes()
      this.$refs.newSchemesInstalled.show()
    }
  },
  methods: {
    navToLanding () { this.$router.push({name: 'landing-page'}) },
    navToMoves () { this.$router.push({name: 'moves'}) },
    navToSongs () { this.$router.push({name: 'songs'}) },
    navToAndroid () { this.$router.push({name: 'to-android'}) },
    navToGetData () { this.$router.push({name: 'get-data'}) },
    navToGetMusic () { this.$router.push({name: 'get-music'}) },
    updateInstalledSchemes () {
      let filterFn = item => {
        const basename = path.basename(item.path)
        // base name hardcoded here
        return basename.indexOf('scheme_') === 0
      }
      fs.ensureDir(RMDIR)
      // nofile: return only directories
      try {
        let rmeFolders = klawSync(RMDIR, {nofile: true, filter: filterFn})
        let installedSchemes = rmeFolders.map(item => path.basename(item.path))
        this.$store.commit('BUFFER_INSTALLED_SCHEMES', installedSchemes)
        this.$store.commit('ORIGINAL_CALLS_FILES', this.RMEFolder) // s/b before MOVE_STATE for validation
        this.$store.commit('ORIGINAL_MOVE_STATE', this.RMEFolder)
      } catch (e) {
        console.log(e)
      }
    },
    clickLang (event) { this.$i18n.locale = event.target.innerHTML.trim() },
    clickScheme (schemeGUIname) {
      this.pendingFolderChange = 'scheme_' + schemeGUIname
      this.onSchemeChange()
    },
    onSchemeChange () {
      this.$store.commit('CHANGE_RME_FOLDER', this.pendingFolderChange)
      // one safety check: in case scheme was acquired with no SEQ files, ADMZIP probably dropped the folder
      // ensure folder exists
      fs.ensureDir(path.join(RMDIR, this.pendingFolderChange, 'secuencias_para_canciones'))
      // ok, now we gotta change all the dependent things
      this.$store.commit('INIT_SETTINGS_DATA')
      this.$store.commit('ORIGINAL_CALLS_FILES', this.RMEFolder) // s/b before MOVE_STATE for validation
      this.$store.commit('ORIGINAL_MOVE_STATE', this.RMEFolder)
    },
    onClickUser (event) {
      if (event.target.parentElement.id === '1') {
        this.$store.commit('CHANGE_USERTYPE', '1')
      } else if (event.target.parentElement.id === '2') {
        this.$refs.wizardWarning.show()
        this.$store.commit('CHANGE_USERTYPE', '2')
      } else {
        console.log('ERR in USER select: selection not handled')
      }
    }
  }
}
</script>

<style scoped>
    .slide-enter-active {
        animation: slide-in 200ms ease-out forwards;
    }

    .slide-leave-active {
        animation: slide-out 200ms ease-out forwards;
    }

    @keyframes slide-in {
        from {
            transform: translateY(-30px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0);
            opacity: 1;
        }
        to {
            transform: translateY(-30px);
            opacity: 0;
        }
    }
</style>
